In [14]:
#JUPYTER NOTEBOOK INTERFACE TO SEC FILING DATABASE

#The first part of this notebook provides a client to the Django database as a REST API. The client allows for
#the searching of the tables of financial data contained in a SEC filing

#The second part of this notebook provides a parser that processes and cleans the found table data into a more useful format



###########################################  PART 1 ######################################################

#The API provides 3 endpoints with the following purposes: 
#(i) getting a list of companies in database; 
#(ii) getting a list of filings for a certain company in the database by CIK (unique id number of a company used by the SEC), and 
#(iii) searching the tables of financial data in a filing; search can be performed for a financial statement type
# or for certain terms

import pandas
import numpy
import requests
import json

#set pandas display options to improve visibility of data
pandas.set_option("display.max_colwidth", -1)
pandas.set_option("display.width", 1000)
pandas.set_option("display.max_rows", 1000)
pandas.set_option("display.max_columns", 1000)

class DatabaseAPIClient():
    
    BASE_API_URL = "http://openedgar:8000/api/companies/"
    
    #list all companies in database
    #returns: dict w/ keys "date", "cik", "name", "sic"
    def get_companies(self):
        response = requests.get(self.BASE_API_URL).text
        return json.loads(response)
    
    #list all filings for a single company
    #returns Dict with keys: "id", "accession_number", "date_filed", "form_type", "is_error", "is_processed", "notes"    
    def get_filings(self, cik):
        response = requests.get(self.BASE_API_URL + cik).text
        return json.loads(response)

    #search tables in a single filing
    #key parameter: the json_request_data argument identifies the type of search to perform through the key "request_type"
    #returns: 
    def search_single_filing(self, cik, filing_pk, json_request_data):
        response = requests.get("{}{}/filing/{}".format(self.BASE_API_URL, cik, filing_pk), json=json_request_data).text
        if response:
            return json.loads(response)
        else:
            return None
        
    #displays results of get_companies
    def display_companies(self):
        companies = self.get_companies()
        display(pandas.DataFrame(companies))

    #displays results of get_filings
    def display_company_filings(self, cik):
        filings = self.get_filings(cik)
        df = pandas.DataFrame(filings)
        df.index = df["id"]
        display(df)

    #iterates over all of a company's filings and displays search results
    def display_all_search_results(self, cik, json_request_data):
        filings = self.get_filings(cik)
        for result_index, filing in enumerate(filings):
            print("id: {0}; accession number: {1}".format(filing['id'], filing['accession_number']))
            response = self.search_single_filing(cik, filing["id"], json_request_data)
            if response:
                for r in response['results']:
                    display(pandas.DataFrame(r['table_data']))
            else:
                print("NONE FOUND")

    def search_results(self, cik, json_request_data):
        results = []
        filings = self.get_filings(cik)
        for result_index, filing in enumerate(filings):
            print("processing id: {0}; accession number: {1}".format(filing['id'], filing['accession_number']))
            response = self.search_single_filing(cik, filing["id"], json_request_data)
            if response:
                for r in response['results']:
                    results.append(r['table_data'])
        return results

In [15]:
#this cell can be used to execute commands

client = DatabaseAPIClient()

#cik - the CIK identification number for the company to be searched in database
cik = "910329"

#filing_pk - the primary key for the filing to be searched in database
filing_pk = 590

#json_request_data - sets forth options for the searching of tables in filings
json_request_data = {
    #type of table to be searched in filing
    "request_type": "financial_statements",
    
    #if request type is financial statement, type of financial statements requested
    "statement_type": "balance_sheet",

    #if request tyep is search, terms to search in tables of filing
    "search_terms": ["term1", "term2", "term3"],
}


#client.display_companies()
#client.display_company_filings(cik)
#client.display_all_search_results(cik, json_request_data)

In [16]:
########################################### PART 2 ###########################################

# As can be seen from a set of table search results, data obtained directly from a HTML or plain text
# table of a SEC filing is not consistently organized and can vary between different companies and time frames
# one significant issue in parsing HTML tables contained in SEC filings is the prevelance of "colspan" and "rowspan"
# attributes; the HTML table parser (set forth in the Django codebase) duplicates the cell content across all cells
# covered by a colspan or row span. That duplication needs to be addressed here

#This cell provides the class used to parse the table search results

import itertools

#parser
class SECFilingTableParser():
    
    #primary parse method
    def parse(self, data_array):
        #preliminary processing dataframe; see description in method below
        df = self.clean_df(pandas.DataFrame(data_array))
        
        #if the dataframe is only 1 row or 1 column, we're not interested in parsing any further
        if len(df.index) == 1 or len(df.columns) == 1:
            return df
        else:
            try:
                #this parser assumes the first row in the first column of a table is the first row of data

                #find the first column
                first_column = df.iloc[:,0].astype('object')
                #find the first row that contains either letters or numbers in the first column
                row_start = first_column.str.contains("[A-Za-z0-9]", case=False, regex=True, na=False).idxmax()
                
                #if text is contained in position [0] then assume that the table only contains columns (and no index for rows)
                if row_start == 0:
                    return self.all_columns_table(df, row_start)
                #else, parse as if there is an index for the rows
                else:
                    return self.accounts_table(df, row_start)
            except:
                print("ERROR")
                print("Dataframe:")
                display(pandas.DataFrame(data_array))
                print("array")
                display(data_array)
    
    def all_columns_table(self, df, row_start):
        #obtain text in the first row, assume that they are the heading for each column
        columns = df.iloc[row_start,:]
        #separate data from headings
        df = df.loc[row_start+1:,:]
        #set the new column headings
        df.columns = columns
        
        #more cleanup
        df = df.replace('^\s*$', numpy.nan, regex=True, inplace=False)
        #assumed that there are duplicate columns headings; saving a final set of column names to be used later
        final_columns = df.columns.unique().dropna()
        
        #to elminate the duplicate cell content without losing any other unique data, the data is groupedby
        #the columns and then the process_account_name function concatenates all unique data while ignoring
        #duplicates
        new_df = {}
        for i,g in df.groupby(df.columns, axis=1):
            new_df[i] = g.apply(lambda x: self.process_account_name(x), axis=1).values.tolist()
        new_df = pandas.DataFrame(new_df)
        new_df = new_df[final_columns]

        #more clean up
        new_df.dropna(how="all", axis=1, inplace=True)
        new_df.dropna(how="all", axis=0, inplace=True)
        return new_df        

    def clean_dollar_amounts(self, df):
        #this function eliminates unnecessary markings usually found in these tables
        df.replace('[$]', "", regex=True, inplace=True)
        df.replace('[)]', "", regex=True, inplace=True)
        df.replace('[(]', "-", regex=True, inplace=True)
        df.replace('[,]', "", regex=True, inplace=True)
        df = df.apply(lambda x: x.str.strip(), axis=1)
        return df
                    
    def accounts_table(self, df, row_start):
        #for these types of tables, assume that first row is the start of the row index
        first_row = df.iloc[row_start-1,:].astype('object')
        #assume that the next cell of text in our "first row" is the first column of data
        col_start = first_row.astype('object').str.contains("[A-Za-z0-9]", case=False, regex=True, na=False).idxmax()

        #assume that all columns before "col_start" is a part of the row index
        index_columns = df.iloc[row_start:, :col_start]
        #use process_account_name method to eliminate duplicates but concatenate unique text
        index = index_columns.apply(lambda x: self.process_account_name(x), axis=1)

        #assume that all rows above "row_start" and columns after "col_start" pertain to the column headings
        column_header_rows = df.iloc[:row_start, col_start:]
        #use process_account name to elminate duplicates and concatenate unique text
        columns = column_header_rows.apply(lambda x: self.process_account_name(x))
        
        #separate data from row index and column headings
        df = df.loc[row_start:, col_start:]
        #eliminate unncessary markings usually found in numeric data
        df = self.clean_dollar_amounts(df)
        #clean up spaces
        df = df.replace('^\s*$', numpy.nan, regex=True, inplace=False)
        
        #add column headings to data
        df.columns = columns
        #add row index to data
        df.insert(0, "account", index)
        #clean up duplicate or blank columns
        final_columns = df.columns.unique().dropna()
        blank_columns = final_columns.str.contains("^\s*$", regex=True, na=True)
        final_columns = final_columns[~blank_columns]

        #to elminate the duplicate cell content without losing any other unique data, the data is groupedby
        #the columns and then the process_account_name function concatenates all unique data while ignoring
        #duplicates
        new_df = {}
        for i,g in df.groupby(df.columns, axis=1):
            new_df[i] = g.apply(lambda x: self.process_account_name(x), axis=1).values.tolist()
        new_df = pandas.DataFrame(new_df)
        new_df = new_df[final_columns]
        
        #more clean up
        new_df.dropna(how="all", axis=1, inplace=True)
        new_df.dropna(how="all", axis=0, inplace=True)
        return new_df

    def process_account_name(self, old_series):
        #method to process related adjacent cells to elminate duplicates but keep unique text
        series = old_series.dropna()
        return " ".join([i for i,g in itertools.groupby(series, key=lambda x: x)])
    
    def clean_df(self, df):
        #preliminary processing of data
        new_df = df
        #remove extraneous weird spaces/characters
        new_df = new_df.replace(self.extraneous_chars(), "", regex=True, inplace=False)
        #replace all blank cells with nan
        new_df = new_df.replace('^\s*$', numpy.nan, regex=True, inplace=False)
        #replace all cells that have the string "None" in it
        new_df = new_df.replace("^\s*None\s*$", numpy.nan, regex=True, inplace=False)
        #replace all cells that have the None type object with nan
        new_df = new_df.fillna(numpy.nan)
        #replace words commonly found in the first row in the first column but that is not the
        #start of real data
        new_df = new_df.replace(self.blacklist_repeating_headers(), numpy.nan, regex=True, inplace=False)
        #process to eliminate all blank rows and columns
        nonempty_rows = new_df.nunique(axis=1, dropna=False) <= 1 #df.apply(lambda x: is_all_same(x), axis=1)
        nonempty_columns = new_df.nunique(axis=0, dropna=False) <= 1 #df.apply(lambda x: is_all_same(x))
        new_df = new_df.loc[~nonempty_rows, ~nonempty_columns]
        #set new numbered indexes and columns 
        new_df.index = range(new_df.shape[0])
        new_df.columns = range(new_df.shape[1])
        return new_df

    def blacklist_repeating_headers(self):
        return [
            "^\s*ANALYSIS OF LOSS AND LOSS ADJUST",
            "^\s*RECONCILIATION OF NET RESERVES FOR LOSSES",
            "^\s*[(].*[Tt][Hh][Oo][Uu][Ss][Aa][Nn][Dd].*[)]\s*$",
            "^\s*[(].*[Mm][Ii][Ll][Ll][Ii][Oo][Nn].*[)]\s*$",
            "^\s*[Yy][Ee][Aa][Rr][.]*\s*[Ee][Nn][Dd][Ee][Dd].*$",
            "^\s*[Ff][Oo][Rr]\s*[Tt][Hh][Ee]\s*[Yy][Ee][Aa][Rr][.]*\s*[Ee][Nn][Dd][Ee][Dd].*$",
            "^\s*CONSOLIDATED STATEMENTS OF INCOME\s*$",
            "For the years ended",
            "FOR THE YEARS ENDED",
            "[(]millio",
            "ns-except per sh",
            "are amounts[)]",
            "^\s*December 31,\s*$",
            "^\s*ecember 31,\s*$",
            "^\s*DECEMBER 31,\s*$",
            "Years Ended December 31"
        ]
    
    def extraneous_chars(self):
        return [
            '\xa0',
            '\xA0',
            '\n',
        ]

In [19]:
#this cell can be used to execute the parsing of the table search results

#table search results using parameters set in prior part
client = DatabaseAPIClient()
tables = client.search_results(cik, json_request_data)

parser = SECFilingTableParser()

for table in tables:
    print("*** table prior to parsing ***")
    display(pandas.DataFrame(table))
    print("*** table after parsing ***")
    display(parser.parse(table))

processing id: 1; accession number: 0001558370-21-001985
processing id: 2; accession number: 0001558370-20-001889
processing id: 3; accession number: 0001144204-19-011678
processing id: 4; accession number: 0001144204-18-015288
processing id: 5; accession number: 0001144204-17-015143
processing id: 6; accession number: 0001144204-16-088200
processing id: 7; accession number: 0001144204-15-026672
processing id: 8; accession number: 0001144204-15-016333
processing id: 9; accession number: 0001144204-14-016118
processing id: 10; accession number: 0001144204-13-015443
processing id: 11; accession number: 0001144204-12-015310
processing id: 12; accession number: 0001144204-11-019422
processing id: 13; accession number: 0001144204-11-001968
processing id: 14; accession number: 0001144204-10-016775
processing id: 15; accession number: 0001144204-09-014237
processing id: 16; accession number: 0001144204-08-015754
processing id: 17; accession number: 0001144204-07-058045
processing id: 18; accession number: 0001144204-07-048233
processing id: 19; accession number: 0001144204-07-048231
processing id: 20; accession number: 0001144204-07-022266
processing id: 21; accession number: 0001144204-07-013149
processing id: 22; accession number: 0001144204-06-010053
*** table prior to parsing ***

                                                                           0                                     1                                     2                                     3                                     4                                     5                                     6                                     7
0   ​                                                                         ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
1   ​                                                                         ​                                     ​                                     ​                                     2020                                  ​                                     ​                                     2019
2   ​                                                                         ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
3   ASSETS                                                                    ASSETS                                ASSETS                                ASSETS                                ASSETS                                ASSETS                                ASSETS                                ASSETS
4   Current Assets                                                            ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
5   Cash and cash equivalents                                                 ​                                     ​                                     $                                      163,723                              ​                                     $                                      76,974
6   Accounts receivable - net of doubtful accounts of $219 and $235 at        ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
7   December 31, 2020 and 2019, respectively                                  ​                                     ​                                     ​                                      584                                  ​                                     ​                                      1,437
8   Inventories                                                               ​                                     ​                                     ​                                      53,392                               ​                                     ​                                      48,771
9   Investment securities                                                     ​                                     ​                                     ​                                      10,752                               ​                                     ​                                      15,704
10  Income taxes, prepaid                                                     ​                                     ​                                     ​                                      -                                    ​                                     ​                                      5,169
11  Prepaid expenses and other current assets                                 ​                                     ​                                     ​                                      5,863                                ​                                     ​                                      6,096
12  Total current assets                                                      ​                                     ​                                     ​                                      234,314                              ​                                     ​                                      154,151
13  ​                                                                         ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
14  Property, plant and equipment - net of accumulated depreciation           ​                                     ​                                     ​                                      27,633                               ​                                     ​                                      26,039
15  Right-of-use assets                                                       ​                                     ​                                     ​                                      10,508                               ​                                     ​                                      12,803
16  Other assets                                                              ​                                     ​                                     ​                                      2,937                                ​                                     ​                                      353
17  Deferred tax assets                                                       ​                                     ​                                     ​                                      692                                  ​                                     ​                                      1,307
18  ​                                                                         ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
19  ​                                                                         ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
20  TOTAL ASSETS                                                              ​                                     ​                                     $                                      276,084                              ​                                     $                                      194,653
21  ​                                                                         ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
22  LIABILITIES AND STOCKHOLDERS' EQUITY                                      LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY
23  Current Liabilities                                                       ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
24  Accounts payable and accrued expenses                                     ​                                     ​                                     $                                      107,677                              ​                                     $                                      76,220
25  Current lease obligations                                                 ​                                     ​                                     ​                                      3,673                                ​                                     ​                                      3,168
26  Total current liabilities                                                 ​                                     ​                                     ​                                      111,350                              ​                                     ​                                      79,388
27  ​                                                                         ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
28  Lease obligations, net of current lease obligations                       ​                                     ​                                     ​                                      7,488                                ​                                     ​                                      10,433
29  Total liabilities                                                         ​                                     ​                                     ​                                      118,838                              ​                                     ​                                      89,821
30  ​                                                                         ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
31  Stockholders' Equity                                                      ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
32  Common stock, par value $.001 per share: 20,000 shares authorized;        ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
33  11,822 and 12,272 issued and 11,772 and 11,764 outstanding                ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
34  at December 31, 2020 and December 31, 2019, respectively                  ​                                     ​                                     ​                                      12                                   ​                                     ​                                      12
35  Additional paid-in capital                                                ​                                     ​                                     ​                                      7,842                                ​                                     ​                                      -
36  Accumulated other comprehensive income                                    ​                                     ​                                     ​                                      41                                   ​                                     ​                                      25
37  Retained earnings                                                         ​                                     ​                                     ​                                      154,351                              ​                                     ​                                      168,788
38  Less: treasury stock at cost, 46 and 489 shares at December 31, 2020 and  ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
39      December 31, 2019, respectively                                       ​                                     ​                                     ​                                      (5,000)                              ​                                     ​                                      (63,993)
40  Total stockholders' equity                                                ​                                     ​                                     ​                                      157,246                              ​                                     ​                                      104,832
41  ​                                                                         ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
42  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                ​                                     ​                                     $                                      276,084                              ​                                     $                                      194,653

*** table after parsing ***

                                                                       account    2020  ​    2019
0   Current Assets ​                                                            ​       ​  ​
1   Cash and cash equivalents ​ $                                               163723  ​  76974
2   Accounts receivable - net of doubtful accounts of $219 and $235 at  ​       ​       ​  ​
3   December 31, 2020 and 2019, respectively ​                                  584     ​  1437
4   Inventories ​                                                               53392   ​  48771
5   Investment securities ​                                                     10752   ​  15704
6   Income taxes, prepaid ​                                                     -       ​  5169
7   Prepaid expenses and other current assets ​                                 5863    ​  6096
8   Total current assets ​                                                      234314  ​  154151
9   Property, plant and equipment - net of accumulated depreciation ​           27633   ​  26039
10  Right-of-use assets ​                                                       10508   ​  12803
11  Other assets ​                                                              2937    ​  353
12  Deferred tax assets ​                                                       692     ​  1307
13  TOTAL ASSETS ​ $                                                            276084  ​  194653
14  Current Liabilities ​                                                       ​       ​  ​
15  Accounts payable and accrued expenses ​ $                                   107677  ​  76220
16  Current lease obligations ​                                                 3673    ​  3168
17  Total current liabilities ​                                                 111350  ​  79388
18  Lease obligations, net of current lease obligations ​                       7488    ​  10433
19  Total liabilities ​                                                         118838  ​  89821
20  Stockholders' Equity ​                                                      ​       ​  ​
21  Common stock, par value $.001 per share: 20,000 shares authorized; ​        ​       ​  ​
22  11,822 and 12,272 issued and 11,772 and 11,764 outstanding ​                ​       ​  ​
23  at December 31, 2020 and December 31, 2019, respectively ​                  12      ​  12
24  Additional paid-in capital ​                                                7842    ​  -
25  Accumulated other comprehensive income  ​                                   41      ​  25
26  Retained earnings  ​                                                        154351  ​  168788
27  Less: treasury stock at cost, 46 and 489 shares at December 31, 2020 and ​  ​       ​  ​
28      December 31, 2019, respectively ​                                       -5000   ​  -63993
29  Total stockholders' equity ​                                                157246  ​  104832
30  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY ​ $                              276084  ​  194653

*** table prior to parsing ***

                                                            0   1
0  ​                                                           ​
1  Reports of Independent Registered Public Accounting Firm    40
2  Consolidated Statements of Income                           43
3  Consolidated Statements of Comprehensive Income             44
4  Consolidated Balance Sheets                                 45
5  Consolidated Statements of Cash Flows                       46
6  Consolidated Statements of Changes in Stockholders’ Equity  47
7  Notes to Consolidated Financial Statements                  48

*** table after parsing ***

     Reports of Independent Registered Public Accounting Firm  40
0  Consolidated Statements of Income                           43
1  Consolidated Statements of Comprehensive Income             44
2  Consolidated Balance Sheets                                 45
3  Consolidated Statements of Cash Flows                       46
4  Consolidated Statements of Changes in Stockholders’ Equity  47
5  Notesto Consolidated Financial Statements                   48

*** table prior to parsing ***

                                                                      0                                     1                                     2                                     3                                     4                                     5                                     6                                     7
0   ​                                                                    ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
1   ​                                                                    ​                                     ​                                     ​                                     2019                                  ​                                     ​                                     2018
2   ​                                                                    ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
3   ASSETS                                                               ASSETS                                ASSETS                                ASSETS                                ASSETS                                ASSETS                                ASSETS                                ASSETS
4   Current Assets                                                       ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
5   Cash and cash equivalents                                            ​                                     ​                                     $                                      76,974                               ​                                     $                                      81,364
6   Accounts receivable - net of doubtful accounts of $235 and $394 at   ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
7   December 31, 2019 and 2018, respectively                             ​                                     ​                                     ​                                      1,437                                ​                                     ​                                      1,011
8   Inventory                                                            ​                                     ​                                     ​                                      48,771                               ​                                     ​                                      38,888
9   Investment securities                                                ​                                     ​                                     ​                                      15,704                               ​                                     ​                                      19,670
10  Income taxes, prepaid                                                ​                                     ​                                     ​                                      5,169                                ​                                     ​                                      -
11  Prepaid expenses and other current assets                            ​                                     ​                                     ​                                      6,096                                ​                                     ​                                      4,586
12  Total current assets                                                 ​                                     ​                                     ​                                      154,151                              ​                                     ​                                      145,519
13  ​                                                                    ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
14  Property, plant and equipment - net of accumulated depreciation      ​                                     ​                                     ​                                      26,039                               ​                                     ​                                      19,747
15  Right-of-use assets                                                  ​                                     ​                                     ​                                      12,803                               ​                                     ​                                      -
16  Other assets                                                         ​                                     ​                                     ​                                      353                                  ​                                     ​                                      1,183
17  Deferred tax assets                                                  ​                                     ​                                     ​                                      1,307                                ​                                     ​                                      2,980
18  ​                                                                    ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
19  ​                                                                    ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
20  TOTAL ASSETS                                                         ​                                     ​                                     $                                      194,653                              ​                                     $                                      169,429
21  ​                                                                    ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
22  LIABILITIES AND STOCKHOLDERS' EQUITY                                 LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY  LIABILITIES AND STOCKHOLDERS' EQUITY
23  Current Liabilities                                                  ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
24  Accounts payable and accrued expenses                                ​                                     ​                                     $                                      76,220                               ​                                     $                                      60,323
25  Current lease obligations                                            ​                                     ​                                     ​                                      3,168                                ​                                     ​                                      -
26  Total current liabilities                                            ​                                     ​                                     ​                                      79,388                               ​                                     ​                                      60,323
27  ​                                                                    ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
28  Lease obligations, less current lease obligations                    ​                                     ​                                     ​                                      10,433                               ​                                     ​                                      -
29  Total liabilities                                                    ​                                     ​                                     ​                                      89,821                               ​                                     ​                                      60,323
30  ​                                                                    ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
31  Stockholders' Equity                                                 ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
32  Common stock, par value $.001 per share: 20,000 shares authorized;   ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
33  12,272 and 12,117 issued and 11,764 and 11,868 outstanding           ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
34  at December 31, 2019 and December 31, 2018, respectively             ​                                     ​                                     ​                                      12                                   ​                                     ​                                      12
35  Additional paid-in capital                                           ​                                     ​                                     ​                                      -                                    ​                                     ​                                      8,802
36  Accumulated other comprehensive income (loss)                        ​                                     ​                                     ​                                      25                                   ​                                     ​                                      (173)
37  Retained earnings                                                    ​                                     ​                                     ​                                      168,788                              ​                                     ​                                      131,344
38  Less: Treasury stock at cost, 489 and 193 shares at December 31,     ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
39  2019 and December 31, 2018, respectively                             ​                                     ​                                     ​                                      (63,993)                             ​                                     ​                                      (30,879)
40  Total stockholders' equity                                           ​                                     ​                                     ​                                      104,832                              ​                                     ​                                      109,106
41  ​                                                                    ​                                     ​                                     ​                                     ​                                     ​                                     ​                                     ​
42  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                           ​                                     ​                                     $                                      194,653                              ​                                     $                                      169,429

*** table after parsing ***

                                                                  account    2019  ​    2018
0   Current Assets ​                                                       ​       ​  ​
1   Cash and cash equivalents ​ $                                          76974   ​  81364
2   Accounts receivable - net of doubtful accounts of $235 and $394 at  ​  ​       ​  ​
3   December 31, 2019 and 2018, respectively ​                             1437    ​  1011
4   Inventory ​                                                            48771   ​  38888
5   Investment securities ​                                                15704   ​  19670
6   Income taxes, prepaid ​                                                5169    ​  -
7   Prepaid expenses and other current assets ​                            6096    ​  4586
8   Total current assets ​                                                 154151  ​  145519
9   Property, plant and equipment - net of accumulated depreciation ​      26039   ​  19747
10  Right-of-use assets ​                                                  12803   ​  -
11  Other assets ​                                                         353     ​  1183
12  Deferred tax assets ​                                                  1307    ​  2980
13  TOTAL ASSETS ​ $                                                       194653  ​  169429
14  Current Liabilities ​                                                  ​       ​  ​
15  Accounts payable and accrued expenses ​ $                              76220   ​  60323
16  Current lease obligations ​                                            3168    ​  -
17  Total current liabilities ​                                            79388   ​  60323
18  Lease obligations, less current lease obligations ​                    10433   ​  -
19  Total liabilities ​                                                    89821   ​  60323
20  Stockholders' Equity ​                                                 ​       ​  ​
21  Common stock, par value $.001 per share: 20,000 shares authorized; ​   ​       ​  ​
22  12,272 and 12,117 issued and 11,764 and 11,868 outstanding ​           ​       ​  ​
23  at December 31, 2019 and December 31, 2018, respectively ​             12      ​  12
24  Additional paid-in capital ​                                           -       ​  8802
25  Accumulated other comprehensive income (loss) ​                        25      ​  -173
26  Retained earnings  ​                                                   168788  ​  131344
27  Less: Treasury stock at cost, 489 and 193 shares at December 31, ​     ​       ​  ​
28  2019 and December 31, 2018, respectively ​                             -63993  ​  -30879
29  Total stockholders' equity ​                                           104832  ​  109106
30  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY ​ $                         194653  ​  169429

*** table prior to parsing ***

                                                            0   1
0  ​                                                           ​
1  Reports of Independent Registered Public Accounting Firm    32
2  Consolidated Statements of Income                           35
3  Consolidated Statements of Comprehensive Income             36
4  Consolidated Balance Sheets                                 37
5  Consolidated Statements of Cash Flows                       38
6  Consolidated Statements of Changes in Stockholders’ Equity  39
7  Notes to Consolidated Financial Statements                  40

*** table after parsing ***

     Reports of Independent Registered Public Accounting Firm  32
0  Consolidated Statements of Income                           35
1  Consolidated Statements of Comprehensive Income             36
2  Consolidated Balance Sheets                                 37
3  Consolidated Statements of Cash Flows                       38
4  Consolidated Statements of Changes in Stockholders’ Equity  39
5  Notesto Consolidated Financial Statements                   40

*** table prior to parsing ***

                                                            0   1
0  Report of Independent Registered Public Accounting Firm     33
1  Consolidated Statements of Income                           34
2  Consolidated Statements of Comprehensive Income             35
3  Consolidated Balance Sheets                                 36
4  Consolidated Statements of Cash Flows                       37
5  Consolidated Statements of Changes in Stockholders’ Equity  38
6  Notes to Consolidated Financial Statements                  39

*** table after parsing ***

      Report of Independent Registered Public Accounting Firm  33
0  Consolidated Statements of Income                           34
1  Consolidated Statements of Comprehensive Income             35
2  Consolidated Balance Sheets                                 36
3  Consolidated Statements of Cash Flows                       37
4  Consolidated Statements of Changes in Stockholders’ Equity  38
5  Notes to Consolidated Financial Statements                  39

*** table prior to parsing ***

                                                                                                                                                                                         0  1     2        3  4  5     6        7  8
0                                                                                                                                                                                              2018  2018           2017  2017
1
2   ASSETS
3   Current Assets
4   Cash and cash equivalents                                                                                                                                                                  $     81,364         $     75,077
5   Accounts receivable-net of doubtful accounts of $394 and $40 at
6   December 31, 2018 and 2017, respectively.                                                                                                                                                        1,011                576
7   Inventory                                                                                                                                                                                        38,888               19,328
8   Investment securities                                                                                                                                                                            19,670               23,757
9   Income taxes, prepaid                                                                                                                                                                            -                    2,272
10  Prepaid expenses and other current assets                                                                                                                                                        4,586                4,188
11  Total current assets                                                                                                                                                                             145,519              125,198
12
13  Property, plant and equipment - net                                                                                                                                                              19,747               18,611
14  Other assets                                                                                                                                                                                     1,183                2,120
15  Deferred tax assets                                                                                                                                                                              2,980                -
16
17
18  TOTAL ASSETS                                                                                                                                                                               $     169,429        $     145,929
19
20  LIABILITIES AND STOCKHOLDERS' EQUITY
21  Current Liabilities
22  Accounts payable and accrued expenses                                                                                                                                                      $     60,323         $     37,140
23  Total current liabilities                                                                                                                                                                        60,323               37,140
24
25  Deferred tax liabilities                                                                                                                                                                         -                    208
26  Total liabilities                                                                                                                                                                                60,323               37,348
27
28  Stockholders' Equity
29  Common stock, par value $.001 per share: 20,000 shares authorized; 12,117 and 12,103 issued and 11,868 and 11,971 outstanding at December 31, 2018 and December 31, 2017, respectively           12                   12
30  Additional paid-in capital                                                                                                                                                                       8,802                4,967
31  Accumulated other comprehensive loss                                                                                                                                                             (173     )           (160     )
32  Retained earnings                                                                                                                                                                                131,344              103,762
33  Less: Treasury stock at cost, 193 shares at December 31, 2018                                                                                                                                    (30,879  )           -
34  Total stockholders' equity                                                                                                                                                                       109,106              108,581
35
36  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                                                 $     169,429        $     145,929

*** table after parsing ***

                                                                                                                                                                                   account    2018    2017
0   ASSETS
1   Current Assets
2   Cash and cash equivalents                                                                                                                                                               81364   75077
3   Accounts receivable-net of doubtful accounts of $394 and $40 at
4   December 31, 2018 and 2017, respectively.                                                                                                                                               1011    576
5   Inventory                                                                                                                                                                               38888   19328
6   Investment securities                                                                                                                                                                   19670   23757
7   Income taxes, prepaid                                                                                                                                                                   -       2272
8   Prepaid expenses and other current assets                                                                                                                                               4586    4188
9   Total current assets                                                                                                                                                                    145519  125198
10  Property, plant and equipment - net                                                                                                                                                     19747   18611
11  Other assets                                                                                                                                                                            1183    2120
12  Deferred tax assets                                                                                                                                                                     2980    -
13  TOTAL ASSETS                                                                                                                                                                            169429  145929
14  LIABILITIES AND STOCKHOLDERS' EQUITY
15  Current Liabilities
16  Accounts payable and accrued expenses                                                                                                                                                   60323   37140
17  Total current liabilities                                                                                                                                                               60323   37140
18  Deferred tax liabilities                                                                                                                                                                -       208
19  Total liabilities                                                                                                                                                                       60323   37348
20  Stockholders' Equity
21  Common stock, par value $.001 per share: 20,000 shares authorized; 12,117 and 12,103 issued and 11,868 and 11,971 outstanding at December 31, 2018 and December 31, 2017, respectively  12      12
22  Additional paid-in capital                                                                                                                                                              8802    4967
23  Accumulated other comprehensive loss                                                                                                                                                    -173    -160
24  Retained earnings                                                                                                                                                                       131344  103762
25  Less: Treasury stock at cost, 193 shares at December 31, 2018                                                                                                                           -30879  -
26  Total stockholders' equity                                                                                                                                                              109106  108581
27  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                                              169429  145929

*** table prior to parsing ***

                                                                               0  1     2        3  4  5     6        7  8
0                                                                                    2017  2017           2016  2016
1
2   ASSETS
3   Current Assets
4   Cash and cash equivalents                                                        $     75,077         $     52,436
5   Accounts receivable-net of allowance for sales returns and doubtful accounts
6   of $597 and $449 at December 31, 2017 and 2016, respectively                           576                  1,387
7   Inventory                                                                              19,328               18,311
8   Investment securities                                                                  23,757               24,412
9   Income taxes, prepaid                                                                  2,272                1,249
10  Prepaid expenses and other current assets                                              4,188                3,502
11  Total current assets                                                                   125,198              101,297
12
13  Property, plant and equipment - net                                                    18,611               19,753
14  Other assets                                                                           2,120                162
15  Long-term assets of discontinued operations                                            -                    4
16
17
18  TOTAL ASSETS                                                                     $     145,929        $     121,216
19
20  LIABILITIES AND STOCKHOLDERS' EQUITY
21  Current Liabilities
22  Accounts payable and accrued expenses                                            $     37,140         $     24,300
23  Current liabilities of discontinued operations                                         -                    121
24  Total current liabilities                                                              37,140               24,421
25
26  Deferred tax liabilities                                                               208                  779
27  Total liabilities                                                                      37,348               25,200
28
29  Stockholders' Equity
30  Common stock, par value $.001 per share: 20,000 shares authorized;
31  12,103 and 12,027 issued and 11,971 and 11,871 outstanding
32  at December 31, 2017 and 2016, respectively                                            12                   12
33  Additional paid-in capital                                                             4,967                2,672
34  Accumulated other comprehensive loss                                                   (160     )           (165     )
35  Retained earnings                                                                      103,762              93,497
36  Total stockholders' equity                                                             108,581              96,016
37
38  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                       $     145,929        $     121,216

*** table after parsing ***

                                                                         account    2017    2016
0   ASSETS
1   Current Assets
2   Cash and cash equivalents                                                     75077   52436
3   Accounts receivable-net of allowance for sales returns and doubtful accounts
4   of $597 and $449 at December 31, 2017 and 2016, respectively                  576     1387
5   Inventory                                                                     19328   18311
6   Investment securities                                                         23757   24412
7   Income taxes, prepaid                                                         2272    1249
8   Prepaid expenses and other current assets                                     4188    3502
9   Total current assets                                                          125198  101297
10  Property, plant and equipment - net                                           18611   19753
11  Other assets                                                                  2120    162
12  Long-term assets of discontinued operations                                   -       4
13  TOTAL ASSETS                                                                  145929  121216
14  LIABILITIES AND STOCKHOLDERS' EQUITY
15  Current Liabilities
16  Accounts payable and accrued expenses                                         37140   24300
17  Current liabilities of discontinued operations                                -       121
18  Total current liabilities                                                     37140   24421
19  Deferred tax liabilities                                                      208     779
20  Total liabilities                                                             37348   25200
21  Stockholders' Equity
22  Common stock, par value $.001 per share: 20,000 shares authorized;
23  12,103 and 12,027 issued and 11,971 and 11,871 outstanding
24  at December 31, 2017 and 2016, respectively                                   12      12
25  Additional paid-in capital                                                    4967    2672
26  Accumulated other comprehensive loss                                          -160    -165
27  Retained earnings                                                             103762  93497
28  Total stockholders' equity                                                    108581  96016
29  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                    145929  121216

*** table prior to parsing ***

                                                             0   1
0   Report of Independent Registered Public Accounting Firm     30
1
2   Consolidated Statements of Income                           31
3
4   Consolidated Statements of Comprehensive Income             32
5
6   Consolidated Balance Sheets                                 33
7
8   Consolidated Statements of Cash Flows                       34
9
10  Consolidated Statements of Changes in Stockholders’ Equity  35
11
12  Notes to Consolidated Financial Statements                  36

*** table after parsing ***

      Report of Independent Registered Public Accounting Firm  30
0  Consolidated Statements of Income                           31
1  Consolidated Statements of Comprehensive Income             32
2  Consolidated Balance Sheets                                 33
3  Consolidated Statements of Cash Flows                       34
4  Consolidated Statements of Changes in Stockholders’ Equity  35
5  Notes to Consolidated Financial Statements                  36

*** table prior to parsing ***

                                                                                                                                                                                                                    0  1     2        3  4  5     6        7  8
0                                                                                                                                                                                                                         2016  2016           2015  2015
1
2   ASSETS
3   Current assets:
4   Cash and cash equivalents                                                                                                                                                                                             $     52,436         $     42,037
5   Accounts receivable-net of allowance for sales returns and doubtful accounts of $449 and $417                                                                                                                               1,387                1,633
6   Inventory                                                                                                                                                                                                                   18,311               13,335
7   Investment securities                                                                                                                                                                                                       24,412               25,072
8   Income taxes, prepaid                                                                                                                                                                                                       1,249                1,549
9   Prepaid expenses and other current assets                                                                                                                                                                                   3,502                2,886
10  Current assets of discontinued operations                                                                                                                                                                                   -                    353
11  Total current assets                                                                                                                                                                                                        101,297              86,865
12
13  Property, plant and equipment - net                                                                                                                                                                                         19,753               29,029
14  Other assets                                                                                                                                                                                                                162                  205
15  Long-term assets of discontinued operations                                                                                                                                                                                 4                    19
16
17  TOTAL ASSETS                                                                                                                                                                                                          $     121,216        $     116,118
18
19  LIABILITIES AND STOCKHOLDERS' EQUITY
20  Current liabilities:
21  Accounts payable and accrued expenses                                                                                                                                                                                 $     24,300         $     22,504
22  Current maturities of capital leases                                                                                                                                                                                        -                    219
23  Current liabilities of discontinued operations                                                                                                                                                                              121                  841
24  Total current liabilities                                                                                                                                                                                                   24,421               23,564
25
26  Other liabilities:
27  Deferred tax liabilities                                                                                                                                                                                                    779                  3,682
28  Long-term liabilities of discontinued operations                                                                                                                                                                            -                    288
29  Total liabilities                                                                                                                                                                                                           25,200               27,534
30
31  Stockholders' Equity:
32  Common stock; par value $.001 per share; 20,000 shares authorized; 12,027 and 12,014 issued at December 31, 2016 and 2015, respectively 11,871 and 11,797 outstanding at December 31, 2016 and 2015, respectively           12                   12
33  Additional paid-in capital                                                                                                                                                                                                  2,672                -
34  Accumulated other comprehensive loss                                                                                                                                                                                        (165     )           (62      )
35  Retained earnings                                                                                                                                                                                                           93,497               88,634
36  Total stockholders' equity                                                                                                                                                                                                  96,016               88,584
37
38  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                                                                            $     121,216        $     116,118

*** table after parsing ***

                                                                                                                                                                                                              account    2016    2015
0   ASSETS
1   Current assets:
2   Cash and cash equivalents                                                                                                                                                                                          52436   42037
3   Accounts receivable-net of allowance for sales returns and doubtful accounts of $449 and $417                                                                                                                      1387    1633
4   Inventory                                                                                                                                                                                                          18311   13335
5   Investment securities                                                                                                                                                                                              24412   25072
6   Income taxes, prepaid                                                                                                                                                                                              1249    1549
7   Prepaid expenses and other current assets                                                                                                                                                                          3502    2886
8   Current assets of discontinued operations                                                                                                                                                                          -       353
9   Total current assets                                                                                                                                                                                               101297  86865
10  Property, plant and equipment - net                                                                                                                                                                                19753   29029
11  Other assets                                                                                                                                                                                                       162     205
12  Long-term assets of discontinued operations                                                                                                                                                                        4       19
13  TOTAL ASSETS                                                                                                                                                                                                       121216  116118
14  LIABILITIES AND STOCKHOLDERS' EQUITY
15  Current liabilities:
16  Accounts payable and accrued expenses                                                                                                                                                                              24300   22504
17  Current maturities of capital leases                                                                                                                                                                               -       219
18  Current liabilities of discontinued operations                                                                                                                                                                     121     841
19  Total current liabilities                                                                                                                                                                                          24421   23564
20  Other liabilities:
21  Deferred tax liabilities                                                                                                                                                                                           779     3682
22  Long-term liabilities of discontinued operations                                                                                                                                                                   -       288
23  Total liabilities                                                                                                                                                                                                  25200   27534
24  Stockholders' Equity:
25  Common stock; par value $.001 per share; 20,000 shares authorized; 12,027 and 12,014 issued at December 31, 2016 and 2015, respectively 11,871 and 11,797 outstanding at December 31, 2016 and 2015, respectively  12      12
26  Additional paid-in capital                                                                                                                                                                                         2672    -
27  Accumulated other comprehensive loss                                                                                                                                                                               -165    -62
28  Retained earnings                                                                                                                                                                                                  93497   88634
29  Total stockholders' equity                                                                                                                                                                                         96016   88584
30  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                                                                         121216  116118

*** table prior to parsing ***

                                                             0   1
0   Report of Independent Registered Public Accounting Firm     32
1
2   Consolidated Balance Sheets                                 33
3
4   Consolidated Statements of Income                           34
5
6   Consolidated Statements of Comprehensive Income             35
7
8   Consolidated Statements of Changes in Stockholders’ Equity  36
9
10  Consolidated Statements of Cash Flows                       37
11
12  Notes to Consolidated Financial Statements                  38

*** table after parsing ***

      Report of Independent Registered Public Accounting Firm  32
0  Consolidated Balance Sheets                                 33
1  Consolidated Statements of Income                           34
2  Consolidated Statements of Comprehensive Income             35
3  Consolidated Statements of Changes in Stockholders’ Equity  36
4  Consolidated Statements of Cash Flows                       37
5  Notes to Consolidated Financial Statements                  38

*** table prior to parsing ***

                                                             0  1   2
0   Report of Independent Registered Public Accounting Firm        34
1
2   Consolidated Balance Sheets                                    35
3
4   Consolidated Statements of Income                              36
5
6   Consolidated Statements of Comprehensive Income                37
7
8   Consolidated Statements of Changes in Stockholders’ Equity     38
9
10  Consolidated Statements of Cash Flows                          39
11
12  Notes to Consolidated Financial Statements                     40

*** table after parsing ***

      Report of Independent Registered Public Accounting Firm  34
0  Consolidated Balance Sheets                                 35
1  Consolidated Statements of Income                           36
2  Consolidated Statements of Comprehensive Income             37
3  Consolidated Statements of Changes in Stockholders’ Equity  38
4  Consolidated Statements of Cash Flows                       39
5  Notes to Consolidated Financial Statements                  40

*** table prior to parsing ***

                                                                                                                                                           0  1     2            3  4  5     6            7  8
0                                                                                                                                                                2015  2015               2014  2014
1
2   ASSETS
3   Current assets:
4   Cash and cash equivalents                                                                                                                                    $     42,037,000         $     24,459,000
5   Accounts receivable-net of allowance for sales returns and doubtful accounts of $417,000 and $354,000                                                              1,633,000                1,650,000
6   Inventory                                                                                                                                                          13,335,000               15,735,000
7   Investment securities                                                                                                                                              25,072,000               28,185,000
8   Income taxes, prepaid                                                                                                                                              1,549,000                5,099,000
9   Prepaid expenses and other current assets                                                                                                                          2,886,000                2,875,000
10  Deferred tax assets                                                                                                                                                1,208,000                3,727,000
11  Current assets of discontinued operations                                                                                                                          353,000                  184,000
12  Total current assets                                                                                                                                               88,073,000               81,914,000
13
14  Property, plant and equipment - net                                                                                                                                29,029,000               33,477,000
15  Other assets                                                                                                                                                       205,000                  497,000
16  Long-term assets of discontinued operations                                                                                                                        19,000                   22,000
17
18  TOTAL ASSETS                                                                                                                                                 $     117,326,000        $     115,910,000
19
20  LIABILITIES AND STOCKHOLDERS' EQUITY
21  Current liabilities:
22  Accounts payable and accrued expenses                                                                                                                        $     22,504,000         $     21,854,000
23  Current maturities of capital leases                                                                                                                               219,000                  232,000
24  Current liabilities of discontinued operations                                                                                                                     841,000                  4,858,000
25  Total current liabilities                                                                                                                                          23,564,000               26,944,000
26
27  Other liabilities:
28  Capital leases, net of current portion                                                                                                                             -                        242,000
29  Deferred tax liabilities                                                                                                                                           4,890,000                5,492,000
30  Long-term liabilities of discontinued operations                                                                                                                   288,000                  2,756,000
31  Total liabilities                                                                                                                                                  28,742,000               35,434,000
32
33  Stockholders' Equity:
34  Common stock; par value $.001 per share; 20,000,000 shares authorized; 12,013,952 and 12,365,690 issued 11,796,774 and 12,075,764 issued and outstanding           12,000                   12,000
35  Additional paid-in capital                                                                                                                                         -                        1,132,000
36  Accumulated other comprehensive income/(loss)                                                                                                                      (62,000      )           435,000
37  Retained earnings                                                                                                                                                  88,634,000               78,897,000
38  Total stockholders' equity                                                                                                                                         88,584,000               80,476,000
39
40  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                   $     117,326,000        $     115,910,000

*** table after parsing ***

                                                                                                                                                     account       2015       2014
0   ASSETS
1   Current assets:
2   Cash and cash equivalents                                                                                                                                 42037000   24459000
3   Accounts receivable-net of allowance for sales returns and doubtful accounts of $417,000 and $354,000                                                     1633000    1650000
4   Inventory                                                                                                                                                 13335000   15735000
5   Investment securities                                                                                                                                     25072000   28185000
6   Income taxes, prepaid                                                                                                                                     1549000    5099000
7   Prepaid expenses and other current assets                                                                                                                 2886000    2875000
8   Deferred tax assets                                                                                                                                       1208000    3727000
9   Current assets of discontinued operations                                                                                                                 353000     184000
10  Total current assets                                                                                                                                      88073000   81914000
11  Property, plant and equipment - net                                                                                                                       29029000   33477000
12  Other assets                                                                                                                                              205000     497000
13  Long-term assets of discontinued operations                                                                                                               19000      22000
14  TOTAL ASSETS                                                                                                                                              117326000  115910000
15  LIABILITIES AND STOCKHOLDERS' EQUITY
16  Current liabilities:
17  Accounts payable and accrued expenses                                                                                                                     22504000   21854000
18  Current maturities of capital leases                                                                                                                      219000     232000
19  Current liabilities of discontinued operations                                                                                                            841000     4858000
20  Total current liabilities                                                                                                                                 23564000   26944000
21  Other liabilities:
22  Capital leases, net of current portion                                                                                                                    -          242000
23  Deferred tax liabilities                                                                                                                                  4890000    5492000
24  Long-term liabilities of discontinued operations                                                                                                          288000     2756000
25  Total liabilities                                                                                                                                         28742000   35434000
26  Stockholders' Equity:
27  Common stock; par value $.001 per share; 20,000,000 shares authorized; 12,013,952 and 12,365,690 issued 11,796,774 and 12,075,764 issued and outstanding  12000      12000
28  Additional paid-in capital                                                                                                                                -          1132000
29  Accumulated other comprehensive income/(loss)                                                                                                             -62000     435000
30  Retained earnings                                                                                                                                         88634000   78897000
31  Total stockholders' equity                                                                                                                                88584000   80476000
32  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                117326000  115910000

*** table prior to parsing ***

                                                             0   1
0   Report of Independent Registered Public Accounting Firm     33
1
2   Consolidated Balance Sheets                                 34
3
4   Consolidated Statements of Income                           35
5
6   Consolidated Statements of Comprehensive Income             36
7
8   Consolidated Statements of Changes in Stockholders’ Equity  37
9
10  Consolidated Statements of Cash Flows                       38
11
12  Notes to Consolidated Financial Statements                  39

*** table after parsing ***

      Report of Independent Registered Public Accounting Firm  33
0  Consolidated Balance Sheets                                 34
1  Consolidated Statements of Income                           35
2  Consolidated Statements of Comprehensive Income             36
3  Consolidated Statements of Changes in Stockholders’ Equity  37
4  Consolidated Statements of Cash Flows                       38
5  Notes to Consolidated Financial Statements                  39

*** table prior to parsing ***

                                                                                                                                                           0  1     2            3  4  5     6            7  8
0                                                                                                                                                                2014  2014               2013  2013
1
2   ASSETS
3   Current assets:
4   Cash and cash equivalents                                                                                                                                    $     24,459,000         $     36,382,000
5   Accounts receivable-net of allowance for sales returns and doubtful accounts of $354,000 and $564,000                                                              1,650,000                942,000
6   Inventory                                                                                                                                                          15,735,000               17,537,000
7   Investment securities                                                                                                                                              28,185,000               31,420,000
8   Income taxes, prepaid                                                                                                                                              5,099,000                -
9   Prepaid expenses and other current assets                                                                                                                          2,875,000                2,526,000
10  Deferred tax assets                                                                                                                                                3,727,000                1,957,000
11  Current assets of discontinued operations                                                                                                                          184,000                  1,190,000
12  Total current assets                                                                                                                                               81,914,000               91,954,000
13
14  Property, plant and equipment - net                                                                                                                                33,477,000               34,476,000
15  Other assets                                                                                                                                                       497,000                  231,000
16  Long-term assets of discontinued operations                                                                                                                        22,000                   5,989,000
17
18  TOTAL ASSETS                                                                                                                                                 $     115,910,000        $     132,650,000
19
20  LIABILITIES AND STOCKHOLDERS' EQUITY
21  Current liabilities:
22  Accounts payable and accrued expenses                                                                                                                        $     21,854,000         $     22,230,000
23  Income taxes payable                                                                                                                                               -                        99,000
24  Current maturities of capital leases                                                                                                                               232,000                  222,000
25  Current liabilities of discontinued operations                                                                                                                     4,858,000                4,550,000
26  Total current liabilities                                                                                                                                          26,944,000               27,101,000
27
28  Other liabilities:
29  Capital leases, net of current portion                                                                                                                             242,000                  474,000
30  Deferred tax liabilities                                                                                                                                           5,492,000                6,659,000
31  Long-term liabilities of discontinued operations                                                                                                                   2,756,000                -
32  Total liabilities                                                                                                                                                  35,434,000               34,234,000
33
34  Stockholders' Equity:
35  Preferred stock, $.001 par value (1,500,000 authorized, no shares issued and outstanding)                                                                          -                        -
36  Common stock; par value $.001 per share; 20,000,000 shares authorized; 12,365,690 and 13,143,309 issued 12,075,764 and 13,115,642 issued and outstanding           12,000                   13,000
37  Additional paid-in capital                                                                                                                                         1,132,000                -
38  Accumulated other comprehensive income                                                                                                                             435,000                  703,000
39  Retained earnings                                                                                                                                                  78,897,000               97,700,000
40  Total stockholders' equity                                                                                                                                         80,476,000               98,416,000
41
42  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                   $     115,910,000        $     132,650,000

*** table after parsing ***

                                                                                                                                                     account       2014       2013
0   ASSETS
1   Current assets:
2   Cash and cash equivalents                                                                                                                                 24459000   36382000
3   Accounts receivable-net of allowance for sales returns and doubtful accounts of $354,000 and $564,000                                                     1650000    942000
4   Inventory                                                                                                                                                 15735000   17537000
5   Investment securities                                                                                                                                     28185000   31420000
6   Income taxes, prepaid                                                                                                                                     5099000    -
7   Prepaid expenses and other current assets                                                                                                                 2875000    2526000
8   Deferred tax assets                                                                                                                                       3727000    1957000
9   Current assets of discontinued operations                                                                                                                 184000     1190000
10  Total current assets                                                                                                                                      81914000   91954000
11  Property, plant and equipment - net                                                                                                                       33477000   34476000
12  Other assets                                                                                                                                              497000     231000
13  Long-term assets of discontinued operations                                                                                                               22000      5989000
14  TOTAL ASSETS                                                                                                                                              115910000  132650000
15  LIABILITIES AND STOCKHOLDERS' EQUITY
16  Current liabilities:
17  Accounts payable and accrued expenses                                                                                                                     21854000   22230000
18  Income taxes payable                                                                                                                                      -          99000
19  Current maturities of capital leases                                                                                                                      232000     222000
20  Current liabilities of discontinued operations                                                                                                            4858000    4550000
21  Total current liabilities                                                                                                                                 26944000   27101000
22  Other liabilities:
23  Capital leases, net of current portion                                                                                                                    242000     474000
24  Deferred tax liabilities                                                                                                                                  5492000    6659000
25  Long-term liabilities of discontinued operations                                                                                                          2756000    -
26  Total liabilities                                                                                                                                         35434000   34234000
27  Stockholders' Equity:
28  Preferred stock, $.001 par value (1,500,000 authorized, no shares issued and outstanding)                                                                 -          -
29  Common stock; par value $.001 per share; 20,000,000 shares authorized; 12,365,690 and 13,143,309 issued 12,075,764 and 13,115,642 issued and outstanding  12000      13000
30  Additional paid-in capital                                                                                                                                1132000    -
31  Accumulated other comprehensive income                                                                                                                    435000     703000
32  Retained earnings                                                                                                                                         78897000   97700000
33  Total stockholders' equity                                                                                                                                80476000   98416000
34  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                115910000  132650000

*** table prior to parsing ***

                                                                                                                                                            0  1     2            3  4  5     6            7  8
0                                                                                                                                                                 2012  2012               2011  2011
1
2   ASSETS
3   Current assets:
4   Cash and cash equivalents                                                                                                                                     $     39,937,000         $     14,262,000
5   Accounts receivable-net of allowance for sales returns and doubtful accounts of $542,000 and $504,000                                                               2,148,000                1,477,000
6   Inventory                                                                                                                                                           20,804,000               19,969,000
7   Investment securities                                                                                                                                               20,057,000               19,538,000
8   Income taxes, prepaid                                                                                                                                               873,000                  5,434,000
9   Prepaid expenses and other current assets                                                                                                                           3,296,000                2,251,000
10  Deferred tax assets                                                                                                                                                 1,460,000                1,055,000
11  Total current assets                                                                                                                                                88,575,000               63,986,000
12
13  Property, plant and equipment - net                                                                                                                                 40,109,000               38,852,000
14  Trademarks and intangibles - net                                                                                                                                    428,000                  1,003,000
15  Other assets                                                                                                                                                        1,139,000                1,824,000
16
17  TOTAL ASSETS                                                                                                                                                  $     130,251,000        $     105,665,000
18
19  LIABILITIES AND STOCKHOLDERS' EQUITY
20  Current liabilities:
21  Accounts payable and accrued expenses                                                                                                                         $     28,221,000         $     18,830,000
22  Current maturities of long-term debt and capital leases                                                                                                             528,000                  1,426,000
23  Total current liabilities                                                                                                                                           28,749,000               20,256,000
24
25  Other liabilities
26  Long-term debt, net of current portion                                                                                                                              3,113,000                3,337,000
27  Capital leases, net of current portion                                                                                                                              696,000                  914,000
28  Deferred tax liabilities                                                                                                                                            6,907,000                7,756,000
29  Total liabilities                                                                                                                                                   39,465,000               32,263,000
30
31  Stockholders' Equity:
32  Preferred stock, $.001 par value (1,500,000 authorized, no shares issued and outstanding)                                                                           -                        -
33  Common stock; par value $.001 per share; 20,000,000 shares authorized; 15,525,955 and 15,510,185 issued; 13,767,380 and 13,596,021 issued and outstanding           16,000                   16,000
34  Additional paid-in capital                                                                                                                                          40,191,000               36,076,000
35  Accumulated other comprehensive income                                                                                                                              553,000                  396,000
36  Retained earnings                                                                                                                                                   76,534,000               60,658,000
37  Less: cost of 1,608,908 and 1,458,908 shares of common stock in treasury                                                                                            (26,508,000  )           (23,744,000  )
38  Total stockholders' equity                                                                                                                                          90,786,000               73,402,000
39
40  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                    $     130,251,000        $     105,665,000

*** table after parsing ***

                                                                                                                                                      account       2012       2011
0   ASSETS
1   Current assets:
2   Cash and cash equivalents                                                                                                                                  39937000   14262000
3   Accounts receivable-net of allowance for sales returns and doubtful accounts of $542,000 and $504,000                                                      2148000    1477000
4   Inventory                                                                                                                                                  20804000   19969000
5   Investment securities                                                                                                                                      20057000   19538000
6   Income taxes, prepaid                                                                                                                                      873000     5434000
7   Prepaid expenses and other current assets                                                                                                                  3296000    2251000
8   Deferred tax assets                                                                                                                                        1460000    1055000
9   Total current assets                                                                                                                                       88575000   63986000
10  Property, plant and equipment - net                                                                                                                        40109000   38852000
11  Trademarks and intangibles - net                                                                                                                           428000     1003000
12  Other assets                                                                                                                                               1139000    1824000
13  TOTAL ASSETS                                                                                                                                               130251000  105665000
14  LIABILITIES AND STOCKHOLDERS' EQUITY
15  Current liabilities:
16  Accounts payable and accrued expenses                                                                                                                      28221000   18830000
17  Current maturities of long-term debt and capital leases                                                                                                    528000     1426000
18  Total current liabilities                                                                                                                                  28749000   20256000
19  Other liabilities
20  Long-term debt, net of current portion                                                                                                                     3113000    3337000
21  Capital leases, net of current portion                                                                                                                     696000     914000
22  Deferred tax liabilities                                                                                                                                   6907000    7756000
23  Total liabilities                                                                                                                                          39465000   32263000
24  Stockholders' Equity:
25  Preferred stock, $.001 par value (1,500,000 authorized, no shares issued and outstanding)                                                                  -          -
26  Common stock; par value $.001 per share; 20,000,000 shares authorized; 15,525,955 and 15,510,185 issued; 13,767,380 and 13,596,021 issued and outstanding  16000      16000
27  Additional paid-in capital                                                                                                                                 40191000   36076000
28  Accumulated other comprehensive income                                                                                                                     553000     396000
29  Retained earnings                                                                                                                                          76534000   60658000
30  Less: cost of 1,608,908 and 1,458,908 shares of common stock in treasury                                                                                   -26508000  -23744000
31  Total stockholders' equity                                                                                                                                 90786000   73402000
32  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                 130251000  105665000

*** table prior to parsing ***

                                                                                                             0      1
0   Report of Independent Registered Public Accounting\n    Firm                                                57
1
2   Consolidated Balance Sheets                                                                                 58
3
4   Consolidated Statements of Income                                                                           59
5
6   Consolidated Statements of Comprehensive Income                                                             60
7
8   Consolidated Statements of Changes in Stockholders’ Equity\n    and Accumulated Other Comprehensive Income  61
9
10  Condensed Consolidated Statements of Cash Flows                                                             62
11
12  Notes to Consolidated Financial Statements                                                                  63-74

*** table after parsing ***

                                                 Report of Independent Registered Public Accounting    Firm     57
0  Consolidated Balance Sheets                                                                               58
1  Consolidated Statements of Income                                                                         59
2  Consolidated Statements of Comprehensive Income                                                           60
3  Consolidated Statements of Changes in Stockholders’ Equity    and Accumulated Other Comprehensive Income  61
4  Condensed Consolidated Statements of Cash Flows                                                           62
5  Notes to Consolidated Financial Statements                                                                63-74

*** table prior to parsing ***

                                                                                                        0   1
0   Reports of Independent Registered Public Accounting Firms                                              60
1
2   Consolidated Balance Sheets                                                                            62
3
4   Consolidated Statements of Income                                                                      63
5
6   Consolidated Statements of Changes in Stockholders’ Equity and Accumulated Other Comprehensive Income  64
7
8   Condensed Consolidated Statements of Cash Flows                                                        65
9
10  Notes to Consolidated Financial Statements                                                             66

*** table after parsing ***

                                               Reports of Independent Registered Public Accounting Firms  60
0  Consolidated Balance Sheets                                                                            62
1  Consolidated Statements of Income                                                                      63
2  Consolidated Statements of Changes in Stockholders’ Equity and Accumulated Other Comprehensive Income  64
3  Condensed Consolidated Statements of Cash Flows                                                        65
4  Notes to Consolidated Financial Statements                                                             66

*** table prior to parsing ***

                                                                                                                                         0  1     2            3  4  5     6           7  8
0                                                                                                                                              2011  2011               2010  2010
1
2   ASSETS
3   Current assets:
4   Cash and cash equivalents                                                                                                                  $     14,262,000         $     17,165,000
5   Accounts receivable-net of allowance for sales returns and doubtful accounts of $504,000 and $237,000                                            1,477,000                623,000
6   Inventory                                                                                                                                        19,969,000               19,534,000
7   Investment securities                                                                                                                            19,538,000               17,271,000
8   Income taxes, prepaid                                                                                                                            5,434,000                3,266,000
9   Prepaid expenses and other current assets                                                                                                        2,251,000                2,108,000
10  Deferred tax assets                                                                                                                              1,055,000                703,000
11  Total current assets                                                                                                                             63,986,000               60,670,000
12
13  Property, plant and equipment - net                                                                                                              38,852,000               30,589,000
14  Trademarks and intangibles - net                                                                                                                 1,003,000                1,072,000
15  Other assets                                                                                                                                     1,824,000                1,728,000
16
17  TOTAL ASSETS                                                                                                                               $     105,665,000        $     94,059,000
18
19  LIABILITIES AND STOCKHOLDERS' EQUITY
20  Current liabilities:
21  Accounts payable and accrued expenses                                                                                                      $     18,830,000         $     15,020,000
22  Current maturities of long-term debt and capital leases                                                                                          1,426,000                944,000
23  Total current liabilities                                                                                                                        20,256,000               15,964,000
24
25  Other liabilities
26  Long-term debt, net of current portion                                                                                                           3,337,000                4,648,000
27  Capital leases, net of current portion                                                                                                           914,000                  207,000
28  Deferred tax liabilities                                                                                                                         7,756,000                1,284,000
29  Total liabilities                                                                                                                                32,263,000               22,103,000
30
31  Stockholders' Equity:
32  Preferred stock, $.001 par value (1,500,000 authorized, no shares issued and outstanding)                                                        -                        -
33  Common stock; par value $.001 per share; 20,000,000 shares authorized; 15,510,185  and 15,431,101 issued and outstanding, respectively           16,000                   16,000
34  Additional paid-in capital                                                                                                                       36,076,000               32,938,000
35  Accumulated other comprehensive income                                                                                                           396,000                  240,000
36  Retained earnings                                                                                                                                60,658,000               42,117,000
37  Less: cost of 1,458,908 and 368,908 shares of common stock in treasury                                                                           (23,744,000  )           (3,355,000  )
38  Total stockholders' equity                                                                                                                       73,402,000               71,956,000
39
40  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                 $     105,665,000        $     94,059,000

*** table after parsing ***

                                                                                                                                  account       2011      2010
0   ASSETS
1   Current assets:
2   Cash and cash equivalents                                                                                                              14262000   17165000
3   Accounts receivable-net of allowance for sales returns and doubtful accounts of $504,000 and $237,000                                  1477000    623000
4   Inventory                                                                                                                              19969000   19534000
5   Investment securities                                                                                                                  19538000   17271000
6   Income taxes, prepaid                                                                                                                  5434000    3266000
7   Prepaid expenses and other current assets                                                                                              2251000    2108000
8   Deferred tax assets                                                                                                                    1055000    703000
9   Total current assets                                                                                                                   63986000   60670000
10  Property, plant and equipment - net                                                                                                    38852000   30589000
11  Trademarks and intangibles - net                                                                                                       1003000    1072000
12  Other assets                                                                                                                           1824000    1728000
13  TOTAL ASSETS                                                                                                                           105665000  94059000
14  LIABILITIES AND STOCKHOLDERS' EQUITY
15  Current liabilities:
16  Accounts payable and accrued expenses                                                                                                  18830000   15020000
17  Current maturities of long-term debt and capital leases                                                                                1426000    944000
18  Total current liabilities                                                                                                              20256000   15964000
19  Other liabilities
20  Long-term debt, net of current portion                                                                                                 3337000    4648000
21  Capital leases, net of current portion                                                                                                 914000     207000
22  Deferred tax liabilities                                                                                                               7756000    1284000
23  Total liabilities                                                                                                                      32263000   22103000
24  Stockholders' Equity:
25  Preferred stock, $.001 par value (1,500,000 authorized, no shares issued and outstanding)                                              -          -
26  Common stock; par value $.001 per share; 20,000,000 shares authorized; 15,510,185 and 15,431,101 issued and outstanding, respectively  16000      16000
27  Additional paid-in capital                                                                                                             36076000   32938000
28  Accumulated other comprehensive income                                                                                                 396000     240000
29  Retained earnings                                                                                                                      60658000   42117000
30  Less: cost of 1,458,908 and 368,908 shares of common stock in treasury                                                                 -23744000  -3355000
31  Total stockholders' equity                                                                                                             73402000   71956000
32  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                             105665000  94059000

*** table prior to parsing ***

                                                                                                0  1  2      3  4
0  \nReports of Independent Registered Public Accounting Firms\n                                         64-66
1  \nConsolidated Balance Sheets\n                                                                       67
2  \nConsolidated Statements of Income\n                                                                 68
3  \nConsolidated Statements of Stockholders’ Equity and Accumulated Other Comprehensive Income\n        69
4  \nConsolidated Statements of Cash Flows\n                                                             70
5  \nNotes to Consolidated Financial Statements\n                                                        71

*** table after parsing ***

                                    Reports of Independent Registered Public Accounting Firms 64-66
0  Consolidated Balance Sheets                                                                 67
1  Consolidated Statements of Income                                                           68
2  Consolidated Statements of Stockholders’ Equity and Accumulated Other Comprehensive Income  69
3  Consolidated Statements of Cash Flows                                                       70
4  Notes to Consolidated Financial Statements                                                  71

*** table prior to parsing ***

                                                                                                                                            0  1         2           3  4  5               6               7  8
0                                                                                                                                                                             \n(Restated)\n  \n(Restated)\n
1                                                                                                                                                 \n2010\n  \n2010\n          \n2009\n        \n2009\n
2   \nASSETS\n
3   \nCurrent assets:\n
4   \nCash and cash equivalents\n                                                                                                                 $         17,165,000        $               10,604,000
5   \nAccounts receivable-net of allowance for sales returns and doubtful accounts of $237,000 and $100,000\n                                               623,000                           676,000
6   \nInventory\n                                                                                                                                           19,534,000                        11,232,000
7   \nInvestment securities\n                                                                                                                               17,271,000                        5,698,000
8   \nIncome taxes, prepaid\n                                                                                                                               3,266,000                         2,922,000
9   \nPrepaid expenses and other current assets\n                                                                                                           2,108,000                         3,811,000
10  \nDeferred tax assets\n                                                                                                                                 703,000                           680,000
11  \nTotal current assets\n                                                                                                                                60,670,000                        35,623,000
12  \nProperty, plant and equipment - net\n                                                                                                                 30,589,000                        23,237,000
13  \nTrademarks and intangibles - net\n                                                                                                                    1,072,000                         1,363,000
14  \nOther assets\n                                                                                                                                        1,728,000                         2,737,000
15  \nTOTAL ASSETS\n                                                                                                                              $         94,059,000        $               62,960,000
16  \nLIABILITIES AND STOCKHOLDERS' EQUITY\n
17  \nCurrent liabilities:\n
18  \nAccounts payable and accrued expenses\n                                                                                                               15,020,000                        7,717,000
19  \nCurrent maturities of long-term debt\n                                                                                                                944,000                           796,000
20  \nTotal current liabilities\n                                                                                                                           15,964,000                        8,513,000
21  \nOther liabilities\n
22  \nLong-term debt, net of current portion\n                                                                                                              4,855,000                         5,444,000
23  \nDeferred tax liabilities\n                                                                                                                            1,284,000                         1,186,000
24  \nTotal liabilities\n                                                                                                                                   22,103,000                        15,143,000
25  \nStockholders' Equity:\n
26  \nPreferred stock, $.001 par value (1,500,000 authorized, no shares issued and outstanding)\n                                                           -                                 -
27  \nCommon stock; par value $.001 per share; 20,000,000 shares authorized; 15,431,101 and 15,398,941 issued and outstanding, respectively\n               16,000                            16,000
28  \nAdditional paid-in capital\n                                                                                                                          32,938,000                        28,456,000
29  \nAccumulated other comprehensive income\n                                                                                                              240,000                           159,000
30  \nRetained earnings\n                                                                                                                                   42,117,000                        22,506,000
31  \nLess: cost of 368,908 and 367,838 shares of common stock in treasury\n                                                                                (3,355,000  )                     (3,320,000      )
32  \nTotal stockholders' equity\n                                                                                                                          71,956,000                        47,817,000
33  \nTOTAL LIABILITIES AND STOCKHOLDERS' EQUITY\n                                                                                                $         94,059,000        $               62,960,000

*** table after parsing ***

                                                                                                                                  account      2010 (Restated) 2009
0   ASSETS
1   Current assets:
2   Cash and cash equivalents                                                                                                              17165000  10604000
3   Accounts receivable-net of allowance for sales returns and doubtful accounts of $237,000 and $100,000                                  623000    676000
4   Inventory                                                                                                                              19534000  11232000
5   Investment securities                                                                                                                  17271000  5698000
6   Income taxes, prepaid                                                                                                                  3266000   2922000
7   Prepaid expenses and other current assets                                                                                              2108000   3811000
8   Deferred tax assets                                                                                                                    703000    680000
9   Total current assets                                                                                                                   60670000  35623000
10  Property, plant and equipment - net                                                                                                    30589000  23237000
11  Trademarks and intangibles - net                                                                                                       1072000   1363000
12  Other assets                                                                                                                           1728000   2737000
13  TOTAL ASSETS                                                                                                                           94059000  62960000
14  LIABILITIES AND STOCKHOLDERS' EQUITY
15  Current liabilities:
16  Accounts payable and accrued expenses                                                                                                  15020000  7717000
17  Current maturities of long-term debt                                                                                                   944000    796000
18  Total current liabilities                                                                                                              15964000  8513000
19  Other liabilities
20  Long-term debt, net of current portion                                                                                                 4855000   5444000
21  Deferred tax liabilities                                                                                                               1284000   1186000
22  Total liabilities                                                                                                                      22103000  15143000
23  Stockholders' Equity:
24  Preferred stock, $.001 par value (1,500,000 authorized, no shares issued and outstanding)                                              -         -
25  Common stock; par value $.001 per share; 20,000,000 shares authorized; 15,431,101 and 15,398,941 issued and outstanding, respectively  16000     16000
26  Additional paid-in capital                                                                                                             32938000  28456000
27  Accumulated other comprehensive income                                                                                                 240000    159000
28  Retained earnings                                                                                                                      42117000  22506000
29  Less: cost of 368,908 and 367,838 shares of common stock in treasury                                                                   -3355000  -3320000
30  Total stockholders' equity                                                                                                             71956000  47817000
31  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                             94059000  62960000

*** table prior to parsing ***

                                                0  1                  2                  3  4  5                6                7  8  9               10               11 12
0                                                     \nAs Previously\n  \nAs Previously\n
1  \nFor the Year Ended December 31, 2009\n           \nReported\n       \nReported\n             \nAdjustments\n  \nAdjustments\n        \nAs Restated\n  \nAs Restated\n
2  \nTotal Assets\n                                   $                  62,755,000               $                205,000                $                62,960,000
3  \nIntangibles\n                                    $                  1,859,000                                 (496,000         )     $                1,363,000
4  \nAccounts Payable and accrued expenses\n                             4,966,000                                 2,751,000                               7,717,000
5  \nTotal Liabilities\n                                                 12,759,000                                2,384,000                               15,143,000
6  \nRetained Earnings\n                                                 24,264,000                                (1,758,000       )                      22,506,000
7  \nTotal Stockholder's Equity\n                                        49,575,000                                (1,758,000       )                      47,817,000
8  \nTotal Liabilities and Stockholder's Equity\n                        62,755,000                                205,000                                 62,960,000

*** table after parsing ***

                                      account As Previously Reported Adjustments As Restated
0  Total Assets                                62755000               205000      62960000
1  Intangibles                                 1859000                -496000     1363000
2  Accounts Payable and accrued expenses       4966000                2751000     7717000
3  Total Liabilities                           12759000               2384000     15143000
4  Retained Earnings                           24264000               -1758000    22506000
5  Total Stockholder's Equity                  49575000               -1758000    47817000
6  Total Liabilities and Stockholder's Equity  62755000               205000      62960000

*** table prior to parsing ***

                                                                                                                          0  1                                                                                                                                       2                                                                                                                                       3  4  5                                                                                         6                                                                                         7  8
0   \n                                  Consolidated\n      Balance Sheet\n                                                     \n                                  (Unaudited)\n                                                                                       \n                                  (Unaudited)\n                                                                                             \n                                  (Audited)\n                                           \n                                  (Audited)\n
1   \n                                  For\n      the Year Ended December 31, 2009\n                                           \n                                  As\n      Previously\n                                  Reported\n                                  \n                                  As\n      Previously\n                                  Reported\n                                        \n                                  As\n      Restated\n                                  \n                                  As\n      Restated\n
2    \n
3   \n                                  Total\n      Current Assets\n                                                                                                                                                                                                   34,967,000                                                                                                                                                                                                                              34,730,000
4   \n                                  Total\n      Assets\n                                                                                                                                                                                                           64,140,000                                                                                                                                                                                                                              62,755,000
5   \n                                  Total\n      Current Liabilities\n                                                                                                                                                                                              5,764,000                                                                                                                                                                                                                               6,183,000
6   \n                                  Total\n      Liabilities\n                                                                                                                                                                                                      11,208,000                                                                                                                                                                                                                              13,180,000
7   \n                                  Total\n      Stockholder's Equity\n                                                                                                                                                                                             52,932,000                                                                                                                                                                                                                              49,575,000
8   \n                                  Total\n      Liabilities and Shareholder's Equity\n                                                                                                                                                                             64,140,000                                                                                                                                                                                                                              62,755,000
9    \n
10  \n                                  Key\n      Balance Sheet Financial Ratios\n
11  \n                                  For\n      the Year Ended December 31, 2009\n
12   \n
13  \n                                  Current\n      Ratio\n                                                                  \n                                  6.1\n      to 1\n                                                                                   \n                                  6.1\n      to 1\n                                                                                         \n                                  5.6\n      to 1\n                                     \n                                  5.6\n      to 1\n
14  \n                                  Quick\n      Ratio\n                                                                    \n                                  4.1\n      to 1\n                                                                                   \n                                  4.1\n      to 1\n                                                                                         \n                                  3.8\n      to 1\n                                     \n                                  3.8\n      to 1\n
15  \n                                  Debt\n      to Equity Ratio\n                                                           \n                                  .12\n      to 1\n                                                                                   \n                                  .12\n      to 1\n                                                                                         \n                                  .12\n      to 1\n                                     \n                                  .12\n      to 1\n
16  \n                                  Return\n      on Equity\n                                                               \n                                  22.6%\n                                                                                             \n                                  22.6%\n                                                                                                   \n                                  24.0%\n                                               \n                                  24.0%\n
17  \n                                  Return\n      on Assets\n                                                               \n                                  18.7%\n                                                                                             \n                                  18.7%\n                                                                                                   \n                                  19.0%\n                                               \n                                  19.0%\n

*** table after parsing ***

                                                      Consolidated      Balance Sheet                                                                                                                     (Unaudited)                                                                           (Audited)
0                                                                                                                                                        As      Previously                                  Reported                                                                    As      Restated
1                                     Total      Current Assets                                                        34,967,000                                                                                                                      34,730,000
2                                     Total      Assets                                                                64,140,000                                                                                                                      62,755,000
3                                     Total      Current Liabilities                                                   5,764,000                                                                                                                       6,183,000
4                                     Total      Liabilities                                                           11,208,000                                                                                                                      13,180,000
5                                     Total      Stockholder's Equity                                                  52,932,000                                                                                                                      49,575,000
6                                     Total      Liabilities and Shareholder's Equity                                  64,140,000                                                                                                                      62,755,000
7                                     Key      Balance Sheet Financial Ratios
8                                     Current      Ratio                                                                                                 6.1      to 1                                                                                                                   5.6      to 1
9                                     Quick      Ratio                                                                                                   4.1      to 1                                                                                                                   3.8      to 1
10                                    Debt      to Equity Ratio                                                                                          .12      to 1                                                                                                                   .12      to 1
11                                    Return      on Equity                                                                                              22.6%                                                                                                                           24.0%
12                                    Return      on Assets                                                                                              18.7%                                                                                                                           19.0%

*** table prior to parsing ***

                                                                                              0  1                                                                                      2                                                                                      3  4  5                                                      6                                                      7  8  9                                                     10                                                     11 12
0   \n                    Consolidated Balance Sheets\n
1    \n
2   \n                    For the Year Ended December 31, 2008\n                                    \n                    As Previously\n                    Reported\n                    \n                    As Previously\n                    Reported\n                          \n                    Adjustments\n                    \n                    Adjustments\n                          \n                    As Restated\n                    \n                    As Restated\n
3    \n
4   \n                    Deferred\n      Tax Asset-non current\n                                                                                                                          1,131,000                                                                                                                                           (981,000                                               )                                                            150,000
5   \n                    Total\n      Assets\n                                                                                                                                            51,037,000                                                                                                                                          (981,000                                               )                                                            50,056,000
6   \n                    Deferred\n      Tax Liability\n                                                                                                                                  -                                                                                                                                                   1,869,000                                                                                                           1,869,000
7   \n                    Income\n      Taxes Payable\n                                                                                                                                    -                                                                                                                                                   101,000                                                                                                             101,000
8   \n                    Total\n      Liabilities\n                                                                                                                                       12,864,000                                                                                                                                          1,971,000                                                                                                           14,835,000
9   \n                    Retained\n      Earnings (deficit)\n                                                                                                                             15,253,000                                                                                                                                          (2,952,000                                             )                                                            12,301,000
10  \n                    Total\n      Stockholder's Equity\n                                                                                                                              38,173,000                                                                                                                                          (2,952,000                                             )                                                            35,221,000
11  \n                    Total\n      Liabilities and Shareholder's Equity\n                                                                                                              51,037,000                                                                                                                                          (981,000                                               )                                                            50,056,000

*** table after parsing ***

                                             ConsolidatedBalanceSheets
0
1                      Deferred      Tax Asset-non current
2                      Total      Assets
3                      Deferred      Tax Liability
4                      Income      Taxes Payable
5                      Total      Liabilities
6                      Retained      Earnings (deficit)
7                      Total      Stockholder's Equity
8                      Total      Liabilities and Shareholder's Equity

*** table prior to parsing ***

                                                                                                         0                                            1
0   \n                  Reports\n      of Independent Registered Public Accounting Firms\n                  \n                  64-65\n
1    \n                                                                                                      \n
2   \n                  Consolidated\n      Balance Sheets\n                                                \n                  66\n
3    \n                                                                                                      \n
4   \n                  Consolidated\n      Statements of Income\n                                          \n                  67\n
5    \n                                                                                                      \n
6   \n                  Consolidated\n      Statements of Stockholders’ Equity\n                            \n                  68\n
7    \n                                                                                                      \n
8   \n                  Consolidated\n      Statements of Cash Flows\n                                      \n                  69\n
9    \n                                                                                                      \n
10  \n                  Notes\n      to Consolidated Financial Statements\n                                 \n                  70\n

*** table after parsing ***

                    Reports      of Independent Registered Public Accounting Firms                                   64-65
0                    Consolidated      Balance Sheets                                                                 66
1                    Consolidated      Statements of Income                                                           67
2                    Consolidated      Statements of Stockholders’ Equity                                             68
3                    Consolidated      Statements of Cash Flows                                                       69
4                    Notes      to Consolidated Financial Statements                                                  70

*** table prior to parsing ***

                                                                                                                                                                                                         0  1                                                   2                                                   3  4  5                                                         6                                                         7  8
0    \n                                                                                                                                                                                                                                                                                                                      \n                      (Restated)\n                      \n                      (Restated)\n
1    \n                                                                                                                                                                                                        \n                      2009\n                      \n                      2009\n                            \n                      2008\n                            \n                      2008\n
2    \n
3   \n                      ASSETS\n
4   \n                      Current\n      assets:\n
5   \n                      Cash\n      and cash equivalents\n                                                                                                                                                 $                                                   12,708,000                                                $                                                         1,841,000
6   \n                      \n                        Accounts\n      receivable-net of allowance for sales returns and doubtful accounts\n      of $100,000\n                      \n                                                                             676,000                                                                                                             448,000
7   \n                      Inventory\n                                                                                                                                                                                                                            11,232,000                                                                                                          13,856,000
8   \n                      Investment\n      securities\n                                                                                                                                                                                                         3,594,000                                                                                                           1,099,000
9   \n                      Deferred\n      compensation\n                                                                                                                                                                                                         1,040,000                                                                                                           792,000
10  \n                      Prepaid\n      expenses and other current assets\n                                                                                                                                                                                     5,334,000                                                                                                           3,165,000
11  \n                      Note\n      receivable - current\n                                                                                                                                                                                                     46,000                                                                                                              180,000
12  \n                      Current\n      portion of deferred tax asset\n                                                                                                                                                                                         100,000                                                                                                             100,000
13  \n                      Total\n      current assets\n                                                                                                                                                                                                          34,730,000                                                                                                          21,481,000
14   \n
15  \n                      Property,\n      plant and equipment - net\n                                                                                                                                                                                           23,237,000                                                                                                          21,709,000
16  \n                      Trademarks\n      and intangibles - net\n                                                                                                                                                                                              4,104,000                                                                                                           5,547,000
17  \n                      Deferred\n      tax asset, net of current portion\n                                                                                                                                                                                    193,000                                                                                                             150,000
18  \n                      Note\n      receivable, net of current assets\n                                                                                                                                                                                        112,000                                                                                                             1,080,000
19  \n                      Other\n      assets\n                                                                                                                                                                                                                  379,000                                                                                                             350,000
20   \n
21  \n                      TOTAL\n      ASSETS\n                                                                                                                                                              $                                                   62,755,000                                                $                                                         50,317,000
22   \n
23  \n                      LIABILITIES\n      AND STOCKHOLDERS' EQUITY\n
24  \n                      Current\n      liabilities:\n
25  \n                      Accounts\n      payable and accrued expenses\n                                                                                                                                                                                         4,966,000                                                                                                           5,130,000
26  \n                      Income\n      taxes payable\n                                                                                                                                                                                                          22,000                                                                                                              102,000
27  \n                      Line\n      of credit\n                                                                                                                                                                                                                -                                                                                                                   3,164,000
28  \n                      Deferred\n      compensation payable\n                                                                                                                                                                                                 399,000                                                                                                             261,000
29  \n                      Current\n      maturities of long-term debt\n                                                                                                                                                                                          796,000                                                                                                             257,000
30  \n                      Total\n      current liabilities\n                                                                                                                                                                                                     6,183,000                                                                                                           8,914,000
31   \n
32  \n                      Other\n      liabilities\n
33  \n                      Long-term\n      debt, net of current portion\n                                                                                                                                                                                        5,444,000                                                                                                           4,313,000
34  \n                      Deferred\n      tax liability- non current\n                                                                                                                                                                                           1,553,000                                                                                                           1,869,000
35  \n                      Total\n      liabilities\n                                                                                                                                                                                                             13,180,000                                                                                                          15,096,000
36   \n
37  \n                      Stockholders'\n      Equity:\n
38  \n                      Preferred\n      stock, $.001 par value (1,500,000 authorized, no shares issued and\n      outstanding)\n                                                                                                                              -                                                                                                                   -
39  \n                      Common\n      stock; par value $.001 per share; 20,000,000 shares\n      authorized;\n
40  \n                      15,438,941\n      issued and 15,031,103 outstanding and 14,585,960 issued and 14,313,768\n      shares outstanding\n                                                                                                                   16,000                                                                                                              15,000
41  \n                      Additional\n      paid-in capital\n                                                                                                                                                                                                    28,456,000                                                                                                          25,250,000
42  \n                      Accumulated\n      other comprehensive income (loss)\n                                                                                                                                                                                 159,000                                                                                                             (389,000                                                  )
43  \n                      Retained\n      earnings\n                                                                                                                                                                                                             24,264,000                                                                                                          12,301,000
44  \n                      Less:\n      cost of 367,838 and 272,192 shares of common stock in\n    treasury\n                                                                                                                                                     (3,320,000                                          )                                                               (1,956,000                                                )
45  \n                      Total\n      stockholders' equity\n                                                                                                                                                                                                    49,575,000                                                                                                          35,221,000
46   \n
47  \n                      TOTAL\n      LIABILITIES AND STOCKHOLDERS' EQUITY\n                                                                                                                                $                                                   62,755,000                                                $                                                         50,317,000

*** table after parsing ***

                                                                                                                                                                                       account                       2009                                           (Restated)                                           2008
0                         ASSETS
1                         Current      assets:
2                         Cash      and cash equivalents                                                                                                                                        12708000                                       1841000
3                                                 Accounts      receivable-net of allowance for sales returns and doubtful accounts      of $100,000                                            676000                                         448000
4                         Inventory                                                                                                                                                             11232000                                       13856000
5                         Investment      securities                                                                                                                                            3594000                                        1099000
6                         Deferred      compensation                                                                                                                                            1040000                                        792000
7                         Prepaid      expenses and other current assets                                                                                                                        5334000                                        3165000
8                         Note      receivable - current                                                                                                                                        46000                                          180000
9                         Current      portion of deferred tax asset                                                                                                                            100000                                         100000
10                        Total      current assets                                                                                                                                             34730000                                       21481000
11                        Property,      plant and equipment - net                                                                                                                              23237000                                       21709000
12                        Trademarks      and intangibles - net                                                                                                                                 4104000                                        5547000
13                        Deferred      tax asset, net of current portion                                                                                                                       193000                                         150000
14                        Note      receivable, net of current assets                                                                                                                           112000                                         1080000
15                        Other      assets                                                                                                                                                     379000                                         350000
16                        TOTAL      ASSETS                                                                                                                                                     62755000                                       50317000
17                        LIABILITIES      AND STOCKHOLDERS' EQUITY
18                        Current      liabilities:
19                        Accounts      payable and accrued expenses                                                                                                                            4966000                                        5130000
20                        Income      taxes payable                                                                                                                                             22000                                          102000
21                        Line      of credit                                                                                                                                                   -                                              3164000
22                        Deferred      compensation payable                                                                                                                                    399000                                         261000
23                        Current      maturities of long-term debt                                                                                                                             796000                                         257000
24                        Total      current liabilities                                                                                                                                        6183000                                        8914000
25                        Other      liabilities
26                        Long-term      debt, net of current portion                                                                                                                           5444000                                        4313000
27                        Deferred      tax liability- non current                                                                                                                              1553000                                        1869000
28                        Total      liabilities                                                                                                                                                13180000                                       15096000
29                        Stockholders'      Equity:
30                        Preferred      stock, $.001 par value (1,500,000 authorized, no shares issued and      outstanding)                                                                   -                                              -
31                        Common      stock; par value $.001 per share; 20,000,000 shares      authorized;
32                        15,438,941      issued and 15,031,103 outstanding and 14,585,960 issued and 14,313,768      shares outstanding                                                        16000                                          15000
33                        Additional      paid-in capital                                                                                                                                       28456000                                       25250000
34                        Accumulated      other comprehensive income (loss)                                                                                                                    159000                                         -389000
35                        Retained      earnings                                                                                                                                                24264000                                       12301000
36                        Less:      cost of 367,838 and 272,192 shares of common stock in    treasury                                                                                          -3320000                                       -1956000
37                        Total      stockholders' equity                                                                                                                                       49575000                                       35221000
38                        TOTAL      LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                       62755000                                       50317000

*** table prior to parsing ***

                                                                                                                          0  1                                                                                                                                       2                                                                                                                                       3  4  5                                                                                  6                                                                                  7  8  9                                                                                        10                                                                                        11 12
0   \n                                  Consolidated Balance Sheets\n
1    \n
2   \n                                  For the Year Ended December 31, 2008\n                                                  \n                                  As Previously\n                                  Reported\n                                         \n                                  As Previously\n                                  Reported\n                                               \n                                  Adjustments\n                                  \n                                  Adjustments\n                                        \n                                  As Restated\n                                         \n                                  As Restated\n
3    \n
4   \n                                  Deferred\n      Tax Asset-non current\n                                                                                                                                                                                         1,131,000                                                                                                                                                                                                                        (981,000                                                                           )                                                                                               150,000
5   \n                                  Total\n      Assets\n                                                                                                                                                                                                           51,037,000                                                                                                                                                                                                                       (981,000                                                                           )                                                                                               50,056,000
6   \n                                  Deferred\n      Tax Liability\n                                                                                                                                                                                                 -                                                                                                                                                                                                                                1,869,000                                                                                                                                                                          1,869,000
7   \n                                  Income\n      Taxes Payable\n                                                                                                                                                                                                   -                                                                                                                                                                                                                                101,000                                                                                                                                                                            101,000
8   \n                                  Total\n      Liabilities\n                                                                                                                                                                                                      12,864,000                                                                                                                                                                                                                       1,971,000                                                                                                                                                                          14,835,000
9   \n                                  Retained\n      Earnings (deficit)\n                                                                                                                                                                                            15,253,000                                                                                                                                                                                                                       (2,952,000                                                                         )                                                                                               12,301,000
10  \n                                  Total\n      Stockholder's Equity\n                                                                                                                                                                                             38,173,000                                                                                                                                                                                                                       (2,952,000                                                                         )                                                                                               35,221,000
11  \n                                  Total\n      Liabilities and Shareholder's Equity\n                                                                                                                                                                             51,037,000                                                                                                                                                                                                                       (981,000                                                                           )                                                                                               50,056,000
12   \n
13  \n                                  For\n      the Year Ended December 31, 2007\n                                           \n                                  As\n      Previously\n                                  Reported\n                                  \n                                  As\n      Previously\n                                  Reported\n                                        \n                                  Adjustments\n                                  \n                                  Adjustments\n                                        \n                                  As\n      Restated\n                                  \n                                  As\n      Restated\n
14   \n
15  \n                                  Deferred\n      Tax Asset-non current\n                                                                                                                                                                                         897,000                                                                                                                                                                                                                          (637,000                                                                           )                                                                                               260,000
16  \n                                  Total\n      Assets\n                                                                                                                                                                                                           43,724,000                                                                                                                                                                                                                       (637,000                                                                           )                                                                                               43,087,000
17  \n                                  Deferred\n      Tax Liability\n                                                                                                                                                                                                 -                                                                                                                                                                                                                                1,506,000                                                                                                                                                                          1,506,000
18  \n                                  Income\n      Taxes Payable\n                                                                                                                                                                                                   592,000                                                                                                                                                                                                                          211,000                                                                                                                                                                            803,000
19  \n                                  Total\n      Liabilities\n                                                                                                                                                                                                      11,304,000                                                                                                                                                                                                                       1,716,000                                                                                                                                                                          13,020,000
20  \n                                  Retained\n      Earnings (deficit)\n                                                                                                                                                                                            9,818,000                                                                                                                                                                                                                        (2,352,000                                                                         )                                                                                               7,466,000
21  \n                                  Total\n      Stockholder's Equity\n                                                                                                                                                                                             32,420,000                                                                                                                                                                                                                       (2,353,000                                                                         )                                                                                               30,067,000
22  \n                                  Total\n      Liabilities and Shareholder's Equity\n                                                                                                                                                                             43,724,000                                                                                                                                                                                                                       (637,000                                                                           )                                                                                               43,087,000
23   \n
24  \n                                  For\n      the Year Ended December 31, 2006\n                                           \n                                  As\n      Previously\n                                  Reported\n                                  \n                                  As\n      Previously\n                                  Reported\n                                        \n                                  Adjustments\n                                  \n                                  Adjustments\n                                        \n                                  As\n      Restated\n                                  \n                                  As\n      Restated\n
25   \n
26  \n                                  Deferred\n      Tax Asset-non current\n                                                                                                                                                                                         517,000                                                                                                                                                                                                                          (302,000                                                                           )                                                                                               215,000
27  \n                                  Total\n      Assets\n                                                                                                                                                                                                           36,677,000                                                                                                                                                                                                                       (302,000                                                                           )                                                                                               36,375,000
28  \n                                  Deferred\n      Tax Liability\n                                                                                                                                                                                                 -                                                                                                                                                                                                                                2,270,000                                                                                                                                                                          2,270,000
29  \n                                  Income\n      Taxes Payable\n                                                                                                                                                                                                   535,000                                                                                                                                                                                                                          (631,000                                                                           )                                                                                               (96,000                                                                                   )
30  \n                                  Total\n      Liabilities\n                                                                                                                                                                                                      8,761,000                                                                                                                                                                                                                        1,639,000                                                                                                                                                                          10,400,000
31  \n                                  Retained\n      Earnings (deficit)\n                                                                                                                                                                                            5,981,000                                                                                                                                                                                                                        (1,941,000                                                                         )                                                                                               4,040,000
32  \n                                  Total\n      Stockholder's Equity\n                                                                                                                                                                                             27,916,000                                                                                                                                                                                                                       (1,941,000                                                                         )                                                                                               25,975,000
33  \n                                  Total\n      Liabilities and Shareholder's Equity\n                                                                                                                                                                             36,677,000                                                                                                                                                                                                                       (302,000                                                                           )                                                                                               36,375,000

*** table after parsing ***

                                                            ConsolidatedBalanceSheets
0
1                                     Deferred      Tax Asset-non current
2                                     Total      Assets
3                                     Deferred      Tax Liability
4                                     Income      Taxes Payable
5                                     Total      Liabilities
6                                     Retained      Earnings (deficit)
7                                     Total      Stockholder's Equity
8                                     Total      Liabilities and Shareholder's Equity
9
10                                    Deferred      Tax Asset-non current
11                                    Total      Assets
12                                    Deferred      Tax Liability
13                                    Income      Taxes Payable
14                                    Total      Liabilities
15                                    Retained      Earnings (deficit)
16                                    Total      Stockholder's Equity
17                                    Total      Liabilities and Shareholder's Equity
18
19                                    Deferred      Tax Asset-non current
20                                    Total      Assets
21                                    Deferred      Tax Liability
22                                    Income      Taxes Payable
23                                    Total      Liabilities
24                                    Retained      Earnings (deficit)
25                                    Total      Stockholder's Equity
26                                    Total      Liabilities and Shareholder's Equity

*** table prior to parsing ***

                                                                                                                                     0  1                                                                                                                                                         2                                                                                                                                                         3  4  5                                                                                                     6                                                                                                     7  8
0  \n                                        Consolidated\n      Balance Sheet\n                                                           \n                                        (Unaudited)\n                                                                                                   \n                                        (Unaudited)\n                                                                                                         \n                                        (Audited)\n                                                 \n                                        (Audited)\n
1  \n                                        For\n      the Year Ended December 31, 2009\n                                                 \n                                        As\n      Previously\n                                        Reported\n                                        \n                                        As\n      Previously\n                                        Reported\n                                              \n                                        As\n      Restated\n                                        \n                                        As\n      Restated\n
2   \n
3  \n                                        Total\n      Current Assets\n                                                                                                                                                                                                                           34,967,000                                                                                                                                                                                                                                                            34,730,000
4  \n                                        Total\n      Assets\n                                                                                                                                                                                                                                   64,140,000                                                                                                                                                                                                                                                            62,755,000
5  \n                                        Total\n      Current Liabilities\n                                                                                                                                                                                                                      5,764,000                                                                                                                                                                                                                                                             6,183,000
6  \n                                        Total\n      Liabilities\n                                                                                                                                                                                                                              11,208,000                                                                                                                                                                                                                                                            13,180,000
7  \n                                        Total\n      Stockholder's Equity\n                                                                                                                                                                                                                     52,932,000                                                                                                                                                                                                                                                            49,575,000
8  \n                                        Total\n      Liabilities and Shareholder's Equity\n                                                                                                                                                                                                     64,140,000                                                                                                                                                                                                                                                            62,755,000

*** table after parsing ***

                                                           Consolidated      Balance Sheet                                                                                                                                       (Unaudited)                                                                                       (Audited)
0                                                                                                                                                                         As      Previously                                        Reported                                                                                As      Restated
1                                          Total      Current Assets                                                              34,967,000                                                                                                                                        34,730,000
2                                          Total      Assets                                                                      64,140,000                                                                                                                                        62,755,000
3                                          Total      Current Liabilities                                                         5,764,000                                                                                                                                         6,183,000
4                                          Total      Liabilities                                                                 11,208,000                                                                                                                                        13,180,000
5                                          Total      Stockholder's Equity                                                        52,932,000                                                                                                                                        49,575,000
6                                          Total      Liabilities and Shareholder's Equity                                        64,140,000                                                                                                                                        62,755,000

*** table prior to parsing ***

                                                                                                     0                                        1
0   \n                Reports\n      of Independent Registered Public Accounting Firms\n                \n                57-58\n
1    \n                                                                                                  \n
2   \n                Consolidated\n      Balance Sheets\n                                              \n                59\n
3    \n                                                                                                  \n
4   \n                Consolidated\n      Statements of Income\n                                        \n                60\n
5    \n                                                                                                  \n
6   \n                Consolidated\n      Statements of Stockholders’ Equity\n                          \n                61\n
7    \n                                                                                                  \n
8   \n                Consolidated\n      Statements of Cash Flows\n                                    \n                62\n
9    \n                                                                                                  \n
10  \n                Notes\n      to Consolidated Financial Statements\n                               \n                63\n

*** table after parsing ***

                  Reports      of Independent Registered Public Accounting Firms                               57-58
0                  Consolidated      Balance Sheets                                                             59
1                  Consolidated      Statements of Income                                                       60
2                  Consolidated      Statements of Stockholders’ Equity                                         61
3                  Consolidated      Statements of Cash Flows                                                   62
4                  Notes      to Consolidated Financial Statements                                              63

*** table prior to parsing ***

                                                                                                                                                                                                                                                     0  1                                                       2                                                       3  4  5                                                             6                                                             7  8
0    \n                                                                                                                                                                                                                                                                                                                                                                          \n                        (Restated)\n                        \n                        (Restated)\n
1    \n                                                                                                                                                                                                                                                    \n                        2009\n                        \n                        2009\n                              \n                        2008\n                              \n                        2008\n
2    \n
3   \n                        ASSETS\n
4   \n                        Current\n      assets:\n
5   \n                        Cash\n      and cash equivalents\n                                                                                                                                                                                           $                                                       12,708,000                                                    $                                                             1,841,000
6   \n                        Accounts\n      receivable-net of allowance for sales returns and doubtful accounts of\n      $100,000\n                                                                                                                                                                             676,000                                                                                                                     448,000
7   \n                        Inventory\n                                                                                                                                                                                                                                                                          11,232,000                                                                                                                  13,856,000
8   \n                        Investment\n      securities\n                                                                                                                                                                                                                                                       3,594,000                                                                                                                   1,099,000
9   \n                        Deferred\n      compensation\n                                                                                                                                                                                                                                                       1,040,000                                                                                                                   792,000
10  \n                        Prepaid\n      expenses and other current assets\n                                                                                                                                                                                                                                   5,334,000                                                                                                                   3,165,000
11  \n                        Note\n      receivable - current\n                                                                                                                                                                                                                                                   46,000                                                                                                                      180,000
12  \n                        Current\n      portion of deferred tax asset\n                                                                                                                                                                                                                                       100,000                                                                                                                     100,000
13  \n                        Total\n      current assets\n                                                                                                                                                                                                                                                        34,730,000                                                                                                                  21,481,000
14   \n
15  \n                        Property,\n      plant and equipment - net\n                                                                                                                                                                                                                                         23,237,000                                                                                                                  21,709,000
16  \n                        Trademarks\n      and intangibles - net\n                                                                                                                                                                                                                                            4,104,000                                                                                                                   5,547,000
17  \n                        Deferred\n      tax asset, net of current portion\n                                                                                                                                                                                                                                  193,000                                                                                                                     150,000
18  \n                        Note\n      receivable, net of current assets\n                                                                                                                                                                                                                                      112,000                                                                                                                     1,080,000
19  \n                        Other\n      assets\n                                                                                                                                                                                                                                                                379,000                                                                                                                     350,000
20   \n
21  \n                        TOTAL\n      ASSETS\n                                                                                                                                                                                                        $                                                       62,755,000                                                    $                                                             50,317,000
22   \n
23  \n                        LIABILITIES\n      AND STOCKHOLDERS' EQUITY\n
24  \n                        Current\n      liabilities:\n
25  \n                        Accounts\n      payable and accrued expenses\n                                                                                                                                                                                                                                       4,966,000                                                                                                                   5,130,000
26  \n                        Income\n      taxes payable\n                                                                                                                                                                                                                                                        22,000                                                                                                                      102,000
27  \n                        Line\n      of credit\n                                                                                                                                                                                                                                                              -                                                                                                                           3,164,000
28  \n                        Deferred\n      compensation payable\n                                                                                                                                                                                                                                               399,000                                                                                                                     261,000
29  \n                        Current\n      maturities of long-term debt\n                                                                                                                                                                                                                                        796,000                                                                                                                     257,000
30  \n                        Total\n      current liabilities\n                                                                                                                                                                                                                                                   6,183,000                                                                                                                   8,914,000
31   \n
32  \n                        Other\n      liabilities\n
33  \n                        Long-term\n      debt, net of current portion\n                                                                                                                                                                                                                                      5,444,000                                                                                                                   4,313,000
34  \n                        Deferred\n      tax liability- non current\n                                                                                                                                                                                                                                         1,553,000                                                                                                                   1,869,000
35  \n                        Total\n      liabilities\n                                                                                                                                                                                                                                                           13,180,000                                                                                                                  15,096,000
36   \n
37  \n                        Stockholders'\n      Equity:\n
38  \n                        Preferred\n      stock, $.001 par value (1,500,000 authorized, no shares issued and\n      outstanding)\n                                                                                                                                                                            -                                                                                                                           -
39  \n                        Common\n      stock; par value $.001 per share; 20,000,000 shares authorized; 15,438,941 issued and 15,031,103\n      outstanding and 14,585,960 issued and 14,313,768 shares\n      outstanding\n                                                                                   16,000                                                                                                                      15,000
40  \n                        Additional\n      paid-in capital\n                                                                                                                                                                                                                                                  28,456,000                                                                                                                  25,250,000
41  \n                        Accumulated\n      other comprehensive income (loss)\n                                                                                                                                                                                                                               159,000                                                                                                                     (389,000                                                      )
42  \n                        Retained\n      earnings\n                                                                                                                                                                                                                                                           24,264,000                                                                                                                  12,301,000
43  \n                        Less:\n      cost of 367,838 and 272,192 shares of common stock in\n    treasury\n                                                                                                                                                                                                   (3,320,000                                              )                                                                   (1,956,000                                                    )
44  \n                        Total\n      stockholders' equity\n                                                                                                                                                                                                                                                  49,575,000                                                                                                                  35,221,000
45   \n
46  \n                        TOTAL\n      LIABILITIES AND STOCKHOLDERS' EQUITY\n                                                                                                                                                                          $                                                       62,755,000                                                    $                                                             50,317,000

*** table after parsing ***

                                                                                                                                                                                                                                     account                         2009                                               (Restated)                                               2008
0                           ASSETS
1                           Current      assets:
2                           Cash      and cash equivalents                                                                                                                                                                                    12708000                                           1841000
3                           Accounts      receivable-net of allowance for sales returns and doubtful accounts of      $100,000                                                                                                                676000                                             448000
4                           Inventory                                                                                                                                                                                                         11232000                                           13856000
5                           Investment      securities                                                                                                                                                                                        3594000                                            1099000
6                           Deferred      compensation                                                                                                                                                                                        1040000                                            792000
7                           Prepaid      expenses and other current assets                                                                                                                                                                    5334000                                            3165000
8                           Note      receivable - current                                                                                                                                                                                    46000                                              180000
9                           Current      portion of deferred tax asset                                                                                                                                                                        100000                                             100000
10                          Total      current assets                                                                                                                                                                                         34730000                                           21481000
11                          Property,      plant and equipment - net                                                                                                                                                                          23237000                                           21709000
12                          Trademarks      and intangibles - net                                                                                                                                                                             4104000                                            5547000
13                          Deferred      tax asset, net of current portion                                                                                                                                                                   193000                                             150000
14                          Note      receivable, net of current assets                                                                                                                                                                       112000                                             1080000
15                          Other      assets                                                                                                                                                                                                 379000                                             350000
16                          TOTAL      ASSETS                                                                                                                                                                                                 62755000                                           50317000
17                          LIABILITIES      AND STOCKHOLDERS' EQUITY
18                          Current      liabilities:
19                          Accounts      payable and accrued expenses                                                                                                                                                                        4966000                                            5130000
20                          Income      taxes payable                                                                                                                                                                                         22000                                              102000
21                          Line      of credit                                                                                                                                                                                               -                                                  3164000
22                          Deferred      compensation payable                                                                                                                                                                                399000                                             261000
23                          Current      maturities of long-term debt                                                                                                                                                                         796000                                             257000
24                          Total      current liabilities                                                                                                                                                                                    6183000                                            8914000
25                          Other      liabilities
26                          Long-term      debt, net of current portion                                                                                                                                                                       5444000                                            4313000
27                          Deferred      tax liability- non current                                                                                                                                                                          1553000                                            1869000
28                          Total      liabilities                                                                                                                                                                                            13180000                                           15096000
29                          Stockholders'      Equity:
30                          Preferred      stock, $.001 par value (1,500,000 authorized, no shares issued and      outstanding)                                                                                                               -                                                  -
31                          Common      stock; par value $.001 per share; 20,000,000 shares authorized; 15,438,941 issued and 15,031,103      outstanding and 14,585,960 issued and 14,313,768 shares      outstanding                        16000                                              15000
32                          Additional      paid-in capital                                                                                                                                                                                   28456000                                           25250000
33                          Accumulated      other comprehensive income (loss)                                                                                                                                                                159000                                             -389000
34                          Retained      earnings                                                                                                                                                                                            24264000                                           12301000
35                          Less:      cost of 367,838 and 272,192 shares of common stock in    treasury                                                                                                                                      -3320000                                           -1956000
36                          Total      stockholders' equity                                                                                                                                                                                   49575000                                           35221000
37                          TOTAL      LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                                                                   62755000                                           50317000

*** table prior to parsing ***

                                                                                                   0                                     1
0   \n                Report\n      of Independent Registered Public Accounting Firm\n                \n                48\n
1    \n                                                                                                \n
2   \n                Consolidated\n      Balance Sheets\n                                            \n                49\n
3    \n                                                                                                \n
4   \n                Consolidated\n      Statements of Income\n                                      \n                50\n
5    \n                                                                                                \n
6   \n                Consolidated\n      Statements of Stockholders’ Equity\n                        \n                51\n
7    \n                                                                                                \n
8   \n                Consolidated\n      Statements of Cash Flows\n                                  \n                52\n
9    \n                                                                                                \n
10  \n                Notes\n      to Consolidated Financial Statements\n                             \n                54\n

*** table after parsing ***

                  Report      of Independent Registered Public Accounting Firm                                48
0                  Consolidated      Balance Sheets                                                           49
1                  Consolidated      Statements of Income                                                     50
2                  Consolidated      Statements of Stockholders’ Equity                                       51
3                  Consolidated      Statements of Cash Flows                                                 52
4                  Notes      to Consolidated Financial Statements                                            54

*** table prior to parsing ***

                                                                                                                                                                                             0  1                                                   2                                                   3  4  5                                                   6                                                   7  8
0    \n                                                                                                                                                                                            \n                      2008\n                      \n                      2008\n                            \n                      2007\n                      \n                      2007\n
1    \n
2   \n                      ASSETS\n
3   \n                      Current\n      assets:\n
4   \n                      Cash\n      and cash equivalents\n                                                                                                                                     $                                                   1,841,000                                                 $                                                   2,195,000
5   \n                      Accounts\n      receivable-net of allowance for doubtful accounts of\n    $100,000\n                                                                                                                                       448,000                                                                                                       493,000
6   \n                      Inventory\n                                                                                                                                                                                                                13,856,000                                                                                                    9,181,000
7   \n                      Investment\n      securities\n                                                                                                                                                                                             1,099,000                                                                                                     1,439,000
8   \n                      Deferred\n      compensation\n                                                                                                                                                                                             531,000                                                                                                       814,000
9   \n                      Prepaid\n      expenses and other current assets\n                                                                                                                                                                         2,034,000                                                                                                     2,727,000
10  \n                      Prepaid\n      income tax\n                                                                                                                                                                                                1,131,000                                                                                                     -
11  \n                      Note\n      receivable - current\n                                                                                                                                                                                         180,000                                                                                                       180,000
12  \n                      Current\n      portion of deferred tax asset\n                                                                                                                                                                             100,000                                                                                                       100,000
13  \n                      Total\n      current assets\n                                                                                                                                                                                              21,220,000                                                                                                    17,129,000
14   \n
15  \n                      Property,\n      plant and equipment - net\n                                                                                                                                                                               21,709,000                                                                                                    17,031,000
16  \n                      Trademarks\n      and intangibles - net\n                                                                                                                                                                                  5,547,000                                                                                                     7,356,000
17  \n                      Deferred\n      tax asset, net of current portion\n                                                                                                                                                                        1,131,000                                                                                                     897,000
18  \n                      Note\n      receivable, net of current assets\n                                                                                                                                                                            1,080,000                                                                                                     1,212,000
19  \n                      Other\n      assets\n                                                                                                                                                                                                      350,000                                                                                                       99,000
20   \n
21  \n                      TOTAL\n      ASSETS\n                                                                                                                                                  $                                                   51,037,000                                                $                                                   43,724,000
22   \n
23  \n                      LIABILITIES\n      AND STOCKHOLDERS' EQUITY\n
24  \n                      Current\n      liabilities:\n
25  \n                      Accounts\n      payable and accrued expenses\n                                                                                                                         $                                                   5,130,000                                                 $                                                   4,279,000
26  \n                      Income\n      taxes payable\n                                                                                                                                                                                              -                                                                                                             592,000
27  \n                      Line\n      of credit\n                                                                                                                                                                                                    3,164,000                                                                                                     1,599,000
28  \n                      Current\n      maturities of long-term debt\n                                                                                                                                                                              257,000                                                                                                       264,000
29  \n                      Total\n      current liabilities\n                                                                                                                                                                                         8,551,000                                                                                                     6,734,000
30   \n
31  \n                      Other\n      liabilities\n
32  \n                      Long-term\n      debt, net of current portion\n                                                                                                                                                                            4,313,000                                                                                                     4,570,000
33  \n                      Total\n      liabilities\n                                                                                                                                                                                                 12,864,000                                                                                                    11,304,000
34   \n
35  \n                      Stockholders'\n      Equity:\n
36  \n                      Preferred\n      stock, $.001 par value (1,500,000 authorized, no shares issued and\n      outstanding)\n                                                                                                                  -                                                                                                             -
37  \n                      Common\n      stock; par value $.001 per share; 20,000,000 shares authorized; 14,585,960\n      and 13,709,098 shares issued and outstanding\n                                                                             15,000                                                                                                        14,000
38  \n                      Additional\n      paid-in capital\n                                                                                                                                                                                        30,787,000                                                                                                    26,953,000
39  \n                      Accumulated\n      other comprehensive income (loss)\n                                                                                                                                                                     (389,000                                            )                                                         321,000
40  \n                      Retained\n      earnings\n                                                                                                                                                                                                 15,253,000                                                                                                    9,818,000
41   \n                                                                                                                                                                                                                                                45,666,000                                                                                                    37,106,000
42  \n                      Less:\n      cost of 272,192 and 270,534 shares of common stock in\n    treasury\n                                                                                                                                         (1,956,000                                          )                                                         (1,971,000                                          )
43  \n                      Less:  Unearned\n      compensation\n                                                                                                                                                                                      (5,537,000                                          )                                                         (2,715,000                                          )
44  \n                      Total\n      stockholders' equity\n                                                                                                                                                                                        38,173,000                                                                                                    32,420,000
45   \n
46  \n                      TOTAL\n      LIABILITIES AND STOCKHOLDERS' EQUITY\n                                                                                                                    $                                                   51,037,000                                                $                                                   43,724,000

*** table after parsing ***

                                                                                                                                                                               account                       2008                                           2007
0                         ASSETS
1                         Current      assets:
2                         Cash      and cash equivalents                                                                                                                                1841000                                        2195000
3                         Accounts      receivable-net of allowance for doubtful accounts of    $100,000                                                                                448000                                         493000
4                         Inventory                                                                                                                                                     13856000                                       9181000
5                         Investment      securities                                                                                                                                    1099000                                        1439000
6                         Deferred      compensation                                                                                                                                    531000                                         814000
7                         Prepaid      expenses and other current assets                                                                                                                2034000                                        2727000
8                         Prepaid      income tax                                                                                                                                       1131000                                        -
9                         Note      receivable - current                                                                                                                                180000                                         180000
10                        Current      portion of deferred tax asset                                                                                                                    100000                                         100000
11                        Total      current assets                                                                                                                                     21220000                                       17129000
12                        Property,      plant and equipment - net                                                                                                                      21709000                                       17031000
13                        Trademarks      and intangibles - net                                                                                                                         5547000                                        7356000
14                        Deferred      tax asset, net of current portion                                                                                                               1131000                                        897000
15                        Note      receivable, net of current assets                                                                                                                   1080000                                        1212000
16                        Other      assets                                                                                                                                             350000                                         99000
17                        TOTAL      ASSETS                                                                                                                                             51037000                                       43724000
18                        LIABILITIES      AND STOCKHOLDERS' EQUITY
19                        Current      liabilities:
20                        Accounts      payable and accrued expenses                                                                                                                    5130000                                        4279000
21                        Income      taxes payable                                                                                                                                     -                                              592000
22                        Line      of credit                                                                                                                                           3164000                                        1599000
23                        Current      maturities of long-term debt                                                                                                                     257000                                         264000
24                        Total      current liabilities                                                                                                                                8551000                                        6734000
25                        Other      liabilities
26                        Long-term      debt, net of current portion                                                                                                                   4313000                                        4570000
27                        Total      liabilities                                                                                                                                        12864000                                       11304000
28                        Stockholders'      Equity:
29                        Preferred      stock, $.001 par value (1,500,000 authorized, no shares issued and      outstanding)                                                           -                                              -
30                        Common      stock; par value $.001 per share; 20,000,000 shares authorized; 14,585,960      and 13,709,098 shares issued and outstanding                      15000                                          14000
31                        Additional      paid-in capital                                                                                                                               30787000                                       26953000
32                        Accumulated      other comprehensive income (loss)                                                                                                            -389000                                        321000
33                        Retained      earnings                                                                                                                                        15253000                                       9818000
34                                                                                                                                                                                      45666000                                       37106000
35                        Less:      cost of 272,192 and 270,534 shares of common stock in    treasury                                                                                  -1956000                                       -1971000
36                        Less:Unearned      compensation                                                                                                                               -5537000                                       -2715000
37                        Total      stockholders' equity                                                                                                                               38173000                                       32420000
38                        TOTAL      LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                               51037000                                       43724000

*** table prior to parsing ***

                                                                                                         0                                 1
0   \n              Report\n                of Independent Registered Public Accounting Firm\n              \n              45\n
1
2   \n              Consolidated\n                Balance Sheets\n                                          \n              46\n
3
4   \n              Consolidated\n                Statements of Income\n                                    \n              47\n
5
6   \n              Consolidated\n                Statements of Stockholders’ Equity\n                      \n              48\n
7
8   \n              Consolidated\n                Statements of Cash Flows\n                                \n              49\n
9
10  \n              Notes\n                to Consolidated Financial Statements\n                           \n              51\n

*** table after parsing ***

                Report                of Independent Registered Public Accounting Firm                            45
0                Consolidated                Balance Sheets                                                       46
1                Consolidated                Statements of Income                                                 47
2                Consolidated                Statements of Stockholders’ Equity                                   48
3                Consolidated                Statements of Cash Flows                                             49
4                Notes                to Consolidated Financial Statements                                        51

*** table prior to parsing ***

                                                                                                                                                            0  1                                   2                                                           3                                4                                         5                                                           6                                7
0                                                                                                                                                                                                                                                                                                  \n              (Restated)\n              \n              (Restated)\n
1                                                                                                                                                                 \n              2007\n              \n              2007\n                                                                       \n              2006\n                    \n              2006\n
2
3   \n              ASSETS\n
4   \n              Current\n                assets:\n
5   \n              Cash\n                and cash equivalents\n                                                                                                  \n              $\n                 \n              2,195,000\n                                                                  \n              $\n                       \n              1,085,000\n
6   \n              Accounts\n                receivable-net of allowance for doubtful accounts of\n                $100,000\n                                                                        \n              493,000\n                                                                                                              \n              448,000\n
7   \n              Inventory\n                                                                                                                                                                       \n              9,181,000\n                                                                                                            \n              8,255,000\n
8   \n              Investment\n                securities\n                                                                                                                                          \n              1,439,000\n                                                                                                            \n              1,540,000\n
9   \n              Deferred\n                compensation\n                                                                                                                                          \n              814,000\n                                                                                                              \n              673,000\n
10  \n              Prepaid\n                expenses and other current assets\n                                                                                                                      \n              2,727,000\n                                                                                                            \n              2,599,000\n
11  \n              Note\n                receivable - current\n                                                                                                                                      \n              180,000\n                                                                                                              \n              174,000\n
12  \n              Current\n                portion of deferred tax asset\n                                                                                                                          \n              100,000\n                                                                                                              \n              90,000\n
13  \n              Total\n                current assets\n                                                                                                                                           \n              17,129,000\n                                                                                                           \n              14,864,000\n
14
15  \n              Property,\n                plant and equipment - net\n                                                                                                                            \n              17,031,000\n                                                                                                           \n              14,020,000\n
16  \n              Trademarks\n                and intangibles - net\n                                                                                                                               \n              7,356,000\n                                                                                                            \n              5,874,000\n
17  \n              Deferred\n                tax asset, net of current portion\n                                                                                                                     \n              897,000\n                                                                                                              \n              517,000\n
18  \n              Note\n                receivable, net of current assets\n                                                                                                                         \n              1,212,000\n                                                                                                            \n              1,355,000\n
19  \n              Other\n                assets\n                                                                                                                                                   \n              99,000\n                                                                                                               \n              47,000\n
20
21  \n              TOTAL\n                ASSETS\n                                                                                                               \n              $\n                 \n              43,724,000\n                                                                 \n              $\n                       \n              36,677,000\n
22
23  \n              LIABILITIES\n                AND STOCKHOLDERS' EQUITY\n
24  \n              Current\n                liabilities:\n
25  \n              Accounts\n                payable and accrued expenses\n                                                                                      \n              $\n                 \n              4,279,000\n                                                                  \n              $\n                       \n              2,913,000\n
26  \n              Income\n                taxes payable\n                                                                                                                                           \n              592,000\n                                                                                                              \n              535,000\n
27  \n              Line\n                of credit\n                                                                                                                                                 \n              1,599,000\n                                                                                                            \n              1,256,000\n
28  \n              Current\n                maturities of long-term debt\n                                                                                                                           \n              264,000\n                                                                                                              \n              548,000\n
29  \n              Total\n                current liabilities\n                                                                                                                                      \n              6,734,000\n                \n                                                                                          \n              5,252,000\n                \n
30
31  \n              Other\n                liabilities\n
32  \n              Long-term\n                debt, net of current portion\n                                                                                                                         \n              4,570,000\n                                                                                                            \n              3,509,000\n
33  \n              Total\n                liabilities\n                                                                                                                                              \n              11,304,000\n                \n                                                                                         \n              8,761,000\n                \n
34
35  \n              Stockholders'\n                Equity:\n
36  \n              Preferred\n                stock, $.001 par value (1,500,000 authorized, no shares issued and\n                outstanding)\n                                                     \n              -\n                \n                                                                                                  \n              -\n                \n
37  Common\n              stock; par value $.001 per share; 20,000,000 shares authorized;\n              13,709,098
38  \n              and\n                13,631,898 shares issued and outstanding\n                                                                                                                   \n              14,000\n                \n                                                                                             \n              14,000\n                \n
39  \n              Additional\n                paid-in capital\n                                                                                                                                     \n              26,953,000\n                \n                                                                                         \n              26,629,000\n                \n
40  \n              Accumulated\n                other comprehensive income\n                                                                                                                         \n              321,000\n                \n                                                                                            \n              334,000\n                \n
41  \n              Retained\n                earnings\n                                                                                                                                              \n              9,818,000\n                \n                                                                                          \n              5,981,000\n                \n
42                                                                                                                                                                                                    \n              37,106,000\n                \n                                                                                         \n              32,958,000\n                \n
43  \n              Less:\n                cost of 270,534 and 249,184 shares of common stock in\n                treasury\n                                                                          \n              (1,971,000\n                                \n              )\n                                                        \n              (1,686,000\n                                \n              )\n
44  \n              Less:\n                Unearned compensation\n                                                                                                                                    \n              (2,715,000\n                                \n              )\n                                                        \n              (3,356,000\n                                \n              )\n
45  \n              Total\n                stockholders' equity\n                                                                                                                                     \n              32,420,000\n                \n                                                                                         \n              27,916,000\n                \n
46
47  \n              TOTAL\n                LIABILITIES AND STOCKHOLDERS' EQUITY\n                                                                                 \n              $\n                 \n              43,724,000\n                                                                 \n              $\n                       \n              36,677,000\n

*** table after parsing ***

                                                                                                                                              account               2007                           (Restated)                           2006
0                 ASSETS
1                 Current                assets:
2                 Cash                and cash equivalents                                                                                             2195000                        1085000
3                 Accounts                receivable-net of allowance for doubtful accounts of                $100,000                                 493000                         448000
4                 Inventory                                                                                                                            9181000                        8255000
5                 Investment                securities                                                                                                 1439000                        1540000
6                 Deferred                compensation                                                                                                 814000                         673000
7                 Prepaid                expenses and other current assets                                                                             2727000                        2599000
8                 Note                receivable - current                                                                                             180000                         174000
9                 Current                portion of deferred tax asset                                                                                 100000                         90000
10                Total                current assets                                                                                                  17129000                       14864000
11                Property,                plant and equipment - net                                                                                   17031000                       14020000
12                Trademarks                and intangibles - net                                                                                      7356000                        5874000
13                Deferred                tax asset, net of current portion                                                                            897000                         517000
14                Note                receivable, net of current assets                                                                                1212000                        1355000
15                Other                assets                                                                                                          99000                          47000
16                TOTAL                ASSETS                                                                                                          43724000                       36677000
17                LIABILITIES                AND STOCKHOLDERS' EQUITY
18                Current                liabilities:
19                Accounts                payable and accrued expenses                                                                                 4279000                        2913000
20                Income                taxes payable                                                                                                  592000                         535000
21                Line                of credit                                                                                                        1599000                        1256000
22                Current                maturities of long-term debt                                                                                  264000                         548000
23                Total                current liabilities                                                                                             6734000                        5252000
24                Other                liabilities
25                Long-term                debt, net of current portion                                                                                4570000                        3509000
26                Total                liabilities                                                                                                     11304000                       8761000
27                Stockholders'                Equity:
28                Preferred                stock, $.001 par value (1,500,000 authorized, no shares issued and                outstanding)              -                              -
29  Common              stock; par value $.001 per share; 20,000,000 shares authorized;              13,709,098
30                and                13,631,898 shares issued and outstanding                                                                          14000                          14000
31                Additional                paid-in capital                                                                                            26953000                       26629000
32                Accumulated                other comprehensive income                                                                                321000                         334000
33                Retained                earnings                                                                                                     9818000                        5981000
34                                                                                                                                                     37106000                       32958000
35                Less:                cost of 270,534 and 249,184 shares of common stock in                treasury                                   -1971000                       -1686000
36                Less:                Unearned compensation                                                                                           -2715000                       -3356000
37                Total                stockholders' equity                                                                                            32420000                       27916000
38                TOTAL                LIABILITIES AND STOCKHOLDERS' EQUITY                                                                            43724000                       36677000

*** table prior to parsing ***

                                                                                                         0                                 1
0   \n              Report\n                of Independent Registered Public Accounting Firm\n              \n              44\n
1
2   \n              Consolidated\n                Balance Sheets\n                                          \n              45\n
3
4   \n              Consolidated\n                Statements of Operations\n                                \n              46\n
5
6   \n              Consolidated\n                Statements of Stockholders’ Equity\n                      \n              47\n
7
8   \n              Consolidated\n                Statements of Cash Flows\n                                \n              49\n
9
10  \n              Notes\n                to Consolidated Financial Statements\n                           \n              51\n

*** table after parsing ***

                Report                of Independent Registered Public Accounting Firm                            44
0                Consolidated                Balance Sheets                                                       45
1                Consolidated                Statements of Operations                                             46
2                Consolidated                Statements of Stockholders’ Equity                                   47
3                Consolidated                Statements of Cash Flows                                             49
4                Notes                to Consolidated Financial Statements                                        51

*** table prior to parsing ***

                                                                                                                                                                                                                                                                                                                                              0                                1                                         2                                                           3                                4                                         5                                                           6                                7
0                                                                                                                                                                                                                                                                                                                                                                                 \n              (Restated)\n              \n              (Restated)\n                                \n               \n              \n              (Restated)\n              \n              (Restated)\n                                \n               \n
1   \n               \n                                                                                                                                                                                                                                                                                                                          \n               \n              \n              2006\n                    \n              2006\n                                      \n               \n              \n              2005\n                    \n              2005\n
2
3   \n              ASSETS\n
4   \n              Current\n                assets:\n
5   \n              Cash\n                and cash equivalents\n                                                                                                                                                                                                                                                                                                                  \n              $\n                       \n              1,085,000\n                                                                  \n              $\n                       \n              1,484,000\n
6   \n              Accounts\n                receivable-net of allowance for doubtful accounts of\n                $100,000\n                                                                                                                                                                                                                                                                                              \n              448,000\n                                                                                                              \n              984,000\n                \n
7   \n              Inventory\n                                                                                                                                                                                                                                                                                                                                                                                             \n              8,255,000\n                                                                                                            \n              5,475,000\n                \n
8   \n              Investment\n                securities\n                                                                                                                                                                                                                                                                                                                                                                \n              1,540,000\n                                                                                                            \n              2,700,000\n                \n
9   \n              Deferred\n                compensation\n                                                                                                                                                                                                                                                                                                                                                                \n              673,000\n                                                                                                              \n              525,000\n                \n
10  \n              Prepaid\n                expenses and other current assets\n                                                                                                                                                                                                                                                                                                                                            \n              2,599,000\n                                                                                                            \n              3,273,000\n                \n
11  \n              Note\n                receivable - current\n                                                                                                                                                                                                                                                                                                                                                            \n              174,000\n                                                                                                              \n              -\n                \n
12  \n              Current\n                portion of deferred tax asset\n                                                                                                                                                                                                                                                                                                                                                \n              90,000\n                                                                                                               \n              -\n                \n
13  \n              Total\n                current assets\n                                                                                                                                                                                                                                                                                                                                                                 \n              14,864,000\n                                                                                                           \n              14,441,000\n                \n
14
15  \n              Property,\n                plant and equipment - net\n                                                                                                                                                                                                                                                                                                                                                  \n              14,020,000\n                                                                                                           \n              9,535,000\n                \n
16  \n              Trademarks\n                and intangibles - net\n                                                                                                                                                                                                                                                                                                                                                     \n              5,874,000\n                                                                                                            \n              5,984,000\n                \n
17  \n              Deferred\n                tax asset, net of current portion\n                                                                                                                                                                                                                                                                                                                                           \n              517,000\n                                                                                                              \n              100,000\n                \n
18  \n              Note\n                receivable, net of current assets\n                                                                                                                                                                                                                                                                                                                                               \n              1,355,000\n                                                                                                            \n              -\n                \n
19  \n              Other\n                assets\n                                                                                                                                                                                                                                                                                                                                                                         \n              47,000\n                                                                                                               \n              60,000\n                \n
20  \n              TOTAL\n                ASSETS\n                                                                                                                                                                                                                                                                                                                               \n              $\n                       \n              36,677,000\n                                                                 \n              $\n                       \n              30,120,000\n
21
22  \n              LIABILITIES\n                AND STOCKHOLDERS' EQUITY\n
23  \n              Current\n                liabilities:\n
24  \n              Accounts\n                payable and accrued expenses\n                                                                                                                                                                                                                                                                                                      \n              $\n                       \n              2,913,000\n                                                                  \n              $\n                       \n              2,263,000\n
25  \n              Income\n                taxes payable\n                                                                                                                                                                                                                                                                                                                                                                 \n              535,000\n                                                                                                              \n              899,000\n                \n
26  \n              Line\n                of credit\n                                                                                                                                                                                                                                                                                                                                                                       \n              1,256,000\n                                                                                                            \n              633,000\n                \n
27  \n              Current\n                maturities of long-term debt\n                                                                                                                                                                                                                                                                                                                                                 \n              548,000\n                                                                                                              \n              561,000\n                \n
28  \n              Deferred\n                tax liability - current\n                                                                                                                                                                                                                                                                                                                                                     \n              -\n                                                                                                                    \n              90,000\n                \n
29  \n              Total\n                current liabilities\n                                                                                                                                                                                                                                                                                                                                                            \n              5,252,000\n                \n                                                                                          \n              4,446,000\n                \n
30
31  \n              Other\n                liabilities and deferred credits\n
32  \n              Long-term\n                debt, net of current portion\n                                                                                                                                                                                                                                                                                                                                               \n              3,509,000\n                                                                                                            \n              3,977,000\n                \n
33  \n              Total\n                liabilities\n                                                                                                                                                                                                                                                                                                                                                                    \n              8,761,000\n                \n                                                                                          \n              8,423,000\n                \n
34
35  \n              Stockholders'\n                Equity:\n
36  \n              Preferred\n                stock, $.001 par value (1,500,000 authorized, no shares issued and\n                outstanding) Common stock; par value $.001 per share; 20,000,000\n                shares\n                authorized; 13,631,898 and 12,782,791 shares issued and\n                outstanding\n                                                                                         \n              14,000\n                                                                                                               \n              13,000 \n
37  \n              Additional\n                paid-in capital\n                                                                                                                                                                                                                                                                                                                                                           \n              26,629,000\n                \n                                                                                         \n              21,759,000\n                \n
38  \n              Accumulated\n                other comprehensive income \n                                                                                                                                                                                                                                                                                                                                              \n              334,000\n                \n                                                                                            \n              282,000\n                \n
39  \n              Retained\n                earnings \n                                                                                                                                                                                                                                                                                                                                                                   \n              5,981,000\n                \n                                                                                          \n              825,000\n                \n
40                                                                                                                                                                                                                                                                                                                                                                                                                          \n              32,958,000\n                \n                                                                                         \n              22,879,000\n                \n
41  \n              Less:\n                cost of 249,184 and 210,902 shares of common stock in\n                treasury\n                                                                                                                                                                                                                                                                                                \n              (1,686,000\n                                \n              )\n                                                        \n              (1,075,000\n                                \n              )\n
42  \n              Less:\n                Unearned compensation\n                                                                                                                                                                                                                                                                                                                                                          \n              (3,356,000\n                                \n              )\n                                                        \n              (107,000\n                                  \n              )\n

*** table after parsing ***

                                                                                                                                                                                                                                                                                                                          account               (Restated)                           2006                           (Restated)                           2005
0                 ASSETS
1                 Current                assets:
2                 Cash                and cash equivalents                                                                                                                                                                                                                                                                         1085000                                                             1484000
3                 Accounts                receivable-net of allowance for doubtful accounts of                $100,000                                                                                                                                                                                                             448000                                                              984000
4                 Inventory                                                                                                                                                                                                                                                                                                        8255000                                                             5475000
5                 Investment                securities                                                                                                                                                                                                                                                                             1540000                                                             2700000
6                 Deferred                compensation                                                                                                                                                                                                                                                                             673000                                                              525000
7                 Prepaid                expenses and other current assets                                                                                                                                                                                                                                                         2599000                                                             3273000
8                 Note                receivable - current                                                                                                                                                                                                                                                                         174000                                                              -
9                 Current                portion of deferred tax asset                                                                                                                                                                                                                                                             90000                                                               -
10                Total                current assets                                                                                                                                                                                                                                                                              14864000                                                            14441000
11                Property,                plant and equipment - net                                                                                                                                                                                                                                                               14020000                                                            9535000
12                Trademarks                and intangibles - net                                                                                                                                                                                                                                                                  5874000                                                             5984000
13                Deferred                tax asset, net of current portion                                                                                                                                                                                                                                                        517000                                                              100000
14                Note                receivable, net of current assets                                                                                                                                                                                                                                                            1355000                                                             -
15                Other                assets                                                                                                                                                                                                                                                                                      47000                                                               60000
16                TOTAL                ASSETS                                                                                                                                                                                                                                                                                      36677000                                                            30120000
17                LIABILITIES                AND STOCKHOLDERS' EQUITY
18                Current                liabilities:
19                Accounts                payable and accrued expenses                                                                                                                                                                                                                                                             2913000                                                             2263000
20                Income                taxes payable                                                                                                                                                                                                                                                                              535000                                                              899000
21                Line                of credit                                                                                                                                                                                                                                                                                    1256000                                                             633000
22                Current                maturities of long-term debt                                                                                                                                                                                                                                                              548000                                                              561000
23                Deferred                tax liability - current                                                                                                                                                                                                                                                                  -                                                                   90000
24                Total                current liabilities                                                                                                                                                                                                                                                                         5252000                                                             4446000
25                Other                liabilities and deferred credits
26                Long-term                debt, net of current portion                                                                                                                                                                                                                                                            3509000                                                             3977000
27                Total                liabilities                                                                                                                                                                                                                                                                                 8761000                                                             8423000
28                Stockholders'                Equity:
29                Preferred                stock, $.001 par value (1,500,000 authorized, no shares issued and                outstanding) Common stock; par value $.001 per share; 20,000,000                shares                authorized; 13,631,898 and 12,782,791 shares issued and                outstanding              14000                                                               13000
30                Additional                paid-in capital                                                                                                                                                                                                                                                                        26629000                                                            21759000
31                Accumulated                other comprehensive income                                                                                                                                                                                                                                                            334000                                                              282000
32                Retained                earnings                                                                                                                                                                                                                                                                                 5981000                                                             825000
33                                                                                                                                                                                                                                                                                                                                 32958000                                                            22879000
34                Less:                cost of 249,184 and 210,902 shares of common stock in                treasury                                                                                                                                                                                                               -1686000                                                            -1075000
35                Less:                Unearned compensation                                                                                                                                                                                                                                                                       -3356000                                                            -107000
36                Total                stockholders' equity                                                                                                                                                                                                                                                                        27916000                                                            21697000
37                TOTAL                LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                                                                                                                                                        36677000                                                            30120000

*** table prior to parsing ***

                                                                                                                                                                                                     0  1                                          2                                          3                                4                                   5                                         6                                7
0                                                                                                                                                                                                          \n               (Restated)\n              \n               (Restated)\n
1                                                                                                                                                                                                          \n              2005\n                     \n              2005\n                                                      \n              2004\n              \n              2004\n
2
3   \n              ASSETS\n
4   \n              Current\n                assets:\n
5   \n              Cash\n                                                                                                                                                                                 \n              $\n                        \n              1,484,000\n                                                 \n              $\n                 \n              612,000\n
6   \n              Accounts\n                receivable-net of allowance for doubtful accounts of\n                $100,000 and $87,000\n                                                                                                            \n              984,000\n                                                                                       \n              1,063,000\n
7   \n              Inventory\n                                                                                                                                                                                                                       \n              5,475,000\n                                                                                     \n              4,251,000\n
8   \n              Investment\n                securities\n                                                                                                                                                                                          \n              2,700,000\n                                                                                     \n              2,626,000\n
9   \n              Deferred\n                compensation\n                                                                                                                                                                                          \n              525,000\n                                                                                       \n              321,000\n
10  \n              Prepaid\n                expenses and other current assets\n                                                                                                                                                                      \n              3,273,000\n                                                                                     \n              1,079,000\n
11  \n              Current\n                portion of deferred tax asset\n                                                                                                                                                                          \n              -\n                                                                                             \n              19,000\n
12  \n              Total\n                current assets\n                                                                                                                                                                                           \n              14,441,000\n                                                                                    \n              9,971,000\n
13
14  \n              Property,\n                plant and equipment - net\n                                                                                                                                                                            \n              9,535,000\n                                                                                     \n              8,698,000\n
15  \n              Trademarks\n                and intangibles - net\n                                                                                                                                                                               \n              5,984,000\n                                                                                     \n              7,138,000\n
16  \n              Deferred\n                tax asset, net of current portion\n                                                                                                                                                                     \n              100,000\n                                                                                       \n              91,000\n
17  \n              Other\n                assets\n                                                                                                                                                                                                   \n              60,000\n                                                                                        \n              70,000\n
18  \n               \n
19  \n              TOTAL\n                ASSETS\n                                                                                                                                                        \n              $\n                        \n              30,120,000\n                                                \n              $\n                 \n              25,968,000\n
20
21  \n              LIABILITIES\n                AND STOCKHOLDERS' EQUITY\n
22  \n              Current\n                liabilities:\n
23  \n              Accounts\n                payable and accrued expenses\n                                                                                                                               \n              $\n                        \n              2,263,000\n                                                 \n              $\n                 \n              940,000\n
24  \n              Income\n                taxes payable\n                                                                                                                                                                                           \n              899,000\n                                                                                       \n              674,000\n
25  \n              Dividends\n                payable \n                                                                                                                                                                                             \n              -\n                                                                                             \n              65,000\n
26  \n              Line\n                of credit\n                                                                                                                                                                                                 \n              633,000\n                                                                                       \n              369,000\n
27  \n              Current\n                maturities of long-term debt\n                                                                                                                                                                           \n              561,000\n                                                                                       \n              458,000\n
28  \n              Deferred\n                tax liability - current\n                                                                                                                                                                               \n              90,000\n                                                                                        \n              -\n
29  \n              Total\n                current liabilities\n                                                                                                                                                                                      \n              4,446,000\n                                                                                     \n              2,506,000\n
30
31  \n              Other\n                liabilities and deferred credits\n
32  \n              Long-term\n                debt, net of current portion\n                                                                                                                                                                         \n              3,977,000\n                                                                                     \n              4,256,000\n
33  \n              Deferred\n                tax liability - non-current\n                                                                                                                                                                           \n              -\n                                                                                             \n              -\n
34  \n              Total\n                liabilities\n                                                                                                                                                                                              \n              8,423,000\n                                                                                     \n              6,762,000\n
35
36  \n              Stockholders'\n                Equity:\n
37
38  \n              Series\n                B Convertible Preferred Stock; par value $1.00; 600,000 shares authorized;\n                0 and 300,614 shares issued and outstanding\n                                                                 \n              -\n                                                                                             \n              301,000\n
39  \n              Series\n                C Convertible Preferred Stock; stated value $1.00; 1,015,000 shares\n                authorized; 0 and 200,000 shares issued and outstanding\n                                                            \n              -\n                                                                                             \n              200,000\n
40  \n              Common\n                stock; par value $.001 per share; 20,000,000 shares authorized; 12,782,791\n                and 11,001,070 shares issued and outstanding\n                                                                \n              13,000\n                                                                                        \n              11,000\n
41  \n              Additional\n                paid-in capital\n                                                                                                                                                                                     \n              21,759,000\n                                                                                    \n              20,556,000\n
42  \n              Accumulated\n                other comprehensive income (loss)\n                                                                                                                                                                  \n              282,000\n                                                                                       \n              (39,000\n                 \n              )\n
43  \n              Retained\n                earnings (deficit)\n                                                                                                                                                                                    \n              825,000\n                                                                                       \n              (1,287,000\n              \n              )\n
44                                                                                                                                                                                                                                                    \n              22,879,000\n                                                                                    \n              19,742,000\n
45  \n              Less:\n                cost of 210,902 and 78,160 shares of common stock in\n                treasury\n                                                                                                                           \n              (1,075,000\n               \n              )\n                                                  \n              (536,000\n                \n              )\n
46  \n              Less:\n                Unearned compensation\n                                                                                                                                                                                    \n              (107,000\n                 \n              )\n
47  \n              Total\n                stockholders' equity\n                                                                                                                                                                                     \n              21,697,000\n                                                                                    \n              19,206,000\n
48
49  \n              TOTAL\n                LIABILITIES AND STOCKHOLDERS' EQUITY\n                                                                                                                          \n              $\n                        \n              30,120,000\n                                                \n              $\n                 \n              25,968,000\n

*** table after parsing ***

                                                                                                                                                                                       account               (Restated)                           2005                           2004
0                 ASSETS
1                 Current                assets:
2                 Cash                                                                                                                                                                          1484000                                                             612000
3                 Accounts                receivable-net of allowance for doubtful accountsof                $100,000 and $87,000                                                               984000                                                              1063000
4                 Inventory                                                                                                                                                                     5475000                                                             4251000
5                 Investment                securities                                                                                                                                          2700000                                                             2626000
6                 Deferred                compensation                                                                                                                                          525000                                                              321000
7                 Prepaid                expenses and other current assets                                                                                                                      3273000                                                             1079000
8                 Current                portion of deferred tax asset                                                                                                                          -                                                                   19000
9                 Total                current assets                                                                                                                                           14441000                                                            9971000
10                Property,                plant and equipment - net                                                                                                                            9535000                                                             8698000
11                Trademarks                and intangibles - net                                                                                                                               5984000                                                             7138000
12                Deferred                tax asset, net of current portion                                                                                                                     100000                                                              91000
13                Other                assets                                                                                                                                                   60000                                                               70000
14                TOTAL                ASSETS                                                                                                                                                   30120000                                                            25968000
15                LIABILITIES                AND STOCKHOLDERS' EQUITY
16                Current                liabilities:
17                Accounts                payable and accrued expenses                                                                                                                          2263000                                                             940000
18                Income                taxes payable                                                                                                                                           899000                                                              674000
19                Dividends                payable                                                                                                                                              -                                                                   65000
20                Line                of credit                                                                                                                                                 633000                                                              369000
21                Current                maturities of long-term debt                                                                                                                           561000                                                              458000
22                Deferred                tax liability - current                                                                                                                               90000                                                               -
23                Total                current liabilities                                                                                                                                      4446000                                                             2506000
24                Other                liabilities and deferred credits
25                Long-term                debt, net of current portion                                                                                                                         3977000                                                             4256000
26                Deferred                tax liability - non-current                                                                                                                           -                                                                   -
27                Total                liabilities                                                                                                                                              8423000                                                             6762000
28                Stockholders'                Equity:
29                Series                B Convertible Preferred Stock; par value $1.00; 600,000 shares authorized;                0 and 300,614 shares issued and outstanding                   -                                                                   301000
30                Series                C Convertible Preferred Stock; stated value $1.00; 1,015,000 shares                authorized; 0 and 200,000 shares issued and outstanding              -                                                                   200000
31                Common                stock; par value $.001 per share; 20,000,000 shares authorized; 12,782,791                and 11,001,070 shares issued and outstanding                  13000                                                               11000
32                Additional                paid-in capital                                                                                                                                     21759000                                                            20556000
33                Accumulated                other comprehensive income (loss)                                                                                                                  282000                                                              -39000
34                Retained                earnings (deficit)                                                                                                                                    825000                                                              -1287000
35                                                                                                                                                                                              22879000                                                            19742000
36                Less:                cost of 210,902 and 78,160 shares of common stock in                treasury                                                                             -1075000                                                            -536000
37                Less:                Unearned compensation                                                                                                                                    -107000
38                Total                stockholders' equity                                                                                                                                     21697000                                                            19206000
39                TOTAL                LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                                     30120000                                                            25968000

*** table prior to parsing ***

                                                                                                         0  1                                 2
0   \n              Report\n                of Independent Registered Public Accounting Firm\n                 \n              22\n
1
2   \n              Consolidated\n                Balance Sheets\n                                             \n              23\n
3
4   \n              Consolidated\n                Statements of Operations\n                                   \n              24\n
5
6   \n              Consolidated\n                Statements of Stockholders’ Equity\n                         \n              25\n
7   \n               \n
8   \n              Consolidated\n                Statements of Cash Flows\n                                   \n              27\n
9
10  \n              Notes\n                to Consolidated Financial Statements\n                              \n              29\n

*** table after parsing ***

                Report                of Independent Registered Public Accounting Firm                            22
0                Consolidated                Balance Sheets                                                       23
1                Consolidated                Statements of Operations                                             24
2                Consolidated                Statements of Stockholders’ Equity                                   25
3                Consolidated                Statements of Cash Flows                                             27
4                Notes                to Consolidated Financial Statements                                        29

*** table prior to parsing ***

                                                                                                                                                                                       0  1                                       2                                                                 3                                    4                                       5                                                                 6                                    7
0                                                                                                                                                                                            \n                2006\n                \n                2006\n                                                                               \n                2005\n                \n                2005\n
1
2   \n                ASSETS\n
3   \n                Current\n                  assets:\n
4   \n                Cash\n                  and cash equivalents\n                                                                                                                         \n                $\n                   \n                1,085,000\n                                                                          \n                $\n                   \n                1,484,000\n
5   \n                Accounts\n                  receivable-net of allowance for doubtful accounts \n                                                                                                                               \n                448,000\n                                                                                                                    \n                985,000\n                  \n
6   \n                of\n                  $100,000\n
7   \n                Inventory\n                                                                                                                                                                                                    \n                8,255,000\n                                                                                                                  \n                5,475,000\n                  \n
8   \n                Investment\n                  securities\n                                                                                                                                                                     \n                1,540,000\n                                                                                                                  \n                2,700,000\n                  \n
9   \n                Deferred\n                  compensation\n                                                                                                                                                                     \n                673,000\n                                                                                                                    \n                525,000\n                  \n
10  \n                Prepaid\n                  expenses and other current assets\n                                                                                                                                                 \n                2,599,000\n                                                                                                                  \n                3,273,000\n                  \n
11  \n                Note\n                  receivable - current\n                                                                                                                                                                 \n                174,000\n
12  \n                Current\n                  portion of deferred tax asset\n                                                                                                                                                     \n                90,000\n                                                                                                                     \n                -\n                  \n
13  \n                Total\n                  current assets\n                                                                                                                                                                      \n                14,864,000\n                                                                                                                 \n                14,442,000\n                  \n
14
15  \n                Property,\n                  plant and equipment - net\n                                                                                                                                                       \n                14,020,000\n                                                                                                                 \n                9,535,000\n                  \n
16  \n                Trademarks\n                  and intangibles - net\n                                                                                                                                                          \n                6,274,000\n                                                                                                                  \n                6,508,000\n                  \n
17  \n                Deferred\n                  tax asset, net of current portion\n                                                                                                                                                \n                367,000\n                                                                                                                    \n                -\n                  \n
18  \n                Note\n                  receivable, net of current assets\n                                                                                                                                                    \n                1,355,000\n                                                                                                                  \n                -\n                  \n
19  \n                Other\n                  assets\n                                                                                                                                                                              \n                47,000\n                                                                                                                     \n                60,000\n                  \n
20
21  \n                TOTAL\n                  ASSETS\n                                                                                                                                      \n                $\n                   \n                36,927,000\n                                                                         \n                $\n                   \n                30,545,000\n
22
23  \n                LIABILITIES\n                  AND STOCKHOLDERS' EQUITY\n
24  \n                Current\n                  liabilities:\n
25  \n                Accounts\n                  payable and accrued expenses\n                                                                                                             \n                $\n                   \n                2,913,000\n                                                                          \n                $\n                   \n                2,263,000\n
26  \n                Income\n                  taxes payable\n                                                                                                                                                                      \n                535,000\n                                                                                                                    \n                899,000\n                  \n
27  \n                Dividends\n                  payable \n                                                                                                                                                                        \n                -\n                                                                                                                          \n                -\n                  \n
28  \n                Line\n                  of credit\n                                                                                                                                                                            \n                1,256,000\n                                                                                                                  \n                633,000\n                  \n
29  \n                Current\n                  maturities of long-term debt\n                                                                                                                                                      \n                548,000\n                                                                                                                    \n                561,000\n                  \n
30  \n                Deferred\n                  tax liability - current\n                                                                                                                                                                                                                                                                                                         \n                90,000\n                  \n
31  \n                Total\n                  current liabilities\n                                                                                                                                                                 \n                5,252,000\n                  \n                                                                                              \n                4,446,000\n                  \n
32
33  \n                Other\n                  liabilities and deferred credits\n
34  \n                Long-term\n                  debt, net of current portion\n                                                                                                                                                    \n                3,509,000\n                                                                                                                  \n                3,977,000\n                  \n
35  \n                Deferred\n                  tax liability - non-current\n                                                                                                                                                      \n                -\n                                                                                                                          \n                101,000\n                  \n
36  \n                Total\n                  liabilities\n                                                                                                                                                                         \n                8,761,000\n                  \n                                                                                              \n                8,524,000\n                  \n
37
38  \n                Stockholders'\n                  Equity:\n
39  \n                Preferred\n                  stock, $.001 par value (1,500,000 authorized, no shares issued\n                  and\n                  outstanding)\n                                                           \n                -\n                  \n                                                                                                      \n                -\n                  \n
40  \n                Common\n                  stock; par value $.001 per share; 20,000,000 shares\n                  authorized;\n
41  \n                13,631,898\n                  and 12,782,791 shares issued and outstanding\n                                                                                                                                   \n                14,000\n                  \n                                                                                                 \n                13,000\n                  \n
42  \n                Additional\n                  paid-in capital\n                                                                                                                                                                \n                26,629,000\n                  \n                                                                                             \n                21,759,000\n                  \n
43  \n                Accumulated\n                  other comprehensive income \n                                                                                                                                                   \n                334,000\n                  \n                                                                                                \n                282,000\n                  \n
44  \n                Retained\n                  earnings \n                                                                                                                                                                        \n                6,231,000\n                  \n                                                                                              \n                1,149,000\n                  \n
45                                                                                                                                                                                                                                   \n                33,208,000\n                  \n                                                                                             \n                23,203,000\n                  \n
46  \n                Less:\n                  cost of 249,184 and 210,902 shares of common stock in\n                  treasury\n                                                                                                   \n                (1,686,000\n                                    \n                )\n                                                        \n                (1,075,000\n                                    \n                )\n
47  \n                Less:\n                  Unearned compensation\n                                                                                                                                                               \n                (3,356,000\n                                    \n                )\n                                                        \n                (107,000\n                                      \n                )\n
48  \n                Total\n                  stockholders' equity\n                                                                                                                                                                \n                28,166,000\n                  \n                                                                                             \n                22,021,000\n                  \n
49
50  \n                TOTAL\n                  LIABILITIES AND STOCKHOLDERS' EQUITY\n                                                                                                        \n                $\n                   \n                36,927,000\n                                                                         \n                $\n                   \n                30,545,000\n

*** table after parsing ***

                                                                                                                                                                       account                 2006                               2005
0                   ASSETS
1                   Current                  assets:
2                   Cash                  and cash equivalents                                                                                                                  1085000                            1484000
3                   Accounts                  receivable-net of allowance for doubtful accounts                                                                                 448000                             985000
4                   of                  $100,000
5                   Inventory                                                                                                                                                   8255000                            5475000
6                   Investment                  securities                                                                                                                      1540000                            2700000
7                   Deferred                  compensation                                                                                                                      673000                             525000
8                   Prepaid                  expenses and other current assets                                                                                                  2599000                            3273000
9                   Note                  receivable - current                                                                                                                  174000
10                  Current                  portion of deferred tax asset                                                                                                      90000                              -
11                  Total                  current assets                                                                                                                       14864000                           14442000
12                  Property,                  plant and equipment - net                                                                                                        14020000                           9535000
13                  Trademarks                  and intangibles - net                                                                                                           6274000                            6508000
14                  Deferred                  tax asset, net of current portion                                                                                                 367000                             -
15                  Note                  receivable, net of current assets                                                                                                     1355000                            -
16                  Other                  assets                                                                                                                               47000                              60000
17                  TOTAL                  ASSETS                                                                                                                               36927000                           30545000
18                  LIABILITIES                  AND STOCKHOLDERS' EQUITY
19                  Current                  liabilities:
20                  Accounts                  payable and accrued expenses                                                                                                      2913000                            2263000
21                  Income                  taxes payable                                                                                                                       535000                             899000
22                  Dividends                  payable                                                                                                                          -                                  -
23                  Line                  of credit                                                                                                                             1256000                            633000
24                  Current                  maturities of long-term debt                                                                                                       548000                             561000
25                  Deferred                  tax liability - current                                                                                                                                              90000
26                  Total                  current liabilities                                                                                                                  5252000                            4446000
27                  Other                  liabilities and deferred credits
28                  Long-term                  debt, net of current portion                                                                                                     3509000                            3977000
29                  Deferred                  tax liability - non-current                                                                                                       -                                  101000
30                  Total                  liabilities                                                                                                                          8761000                            8524000
31                  Stockholders'                  Equity:
32                  Preferred                  stock, $.001 par value (1,500,000 authorized, no shares issued                  and                  outstanding)                -                                  -
33                  Common                  stock; par value $.001 per share; 20,000,000 shares                  authorized;
34                  13,631,898                  and 12,782,791 shares issued and outstanding                                                                                    14000                              13000
35                  Additional                  paid-in capital                                                                                                                 26629000                           21759000
36                  Accumulated                  other comprehensive income                                                                                                     334000                             282000
37                  Retained                  earnings                                                                                                                          6231000                            1149000
38                                                                                                                                                                              33208000                           23203000
39                  Less:                  cost of 249,184 and 210,902 shares of common stock in                  treasury                                                      -1686000                           -1075000
40                  Less:                  Unearned compensation                                                                                                                -3356000                           -107000
41                  Total                  stockholders' equity                                                                                                                 28166000                           22021000
42                  TOTAL                  LIABILITIES AND STOCKHOLDERS' EQUITY                                                                                                 36927000                           30545000

*** table prior to parsing ***

                                                                                                   0                          1           2
0                                                                                                       2005                     2004
1   ASSETS
2   CURRENT ASSETS:
3              Cash                                                                                   $ 1,484,000                $ 612,000
4              Accounts receivable-net of allowance for doubtful accounts                                 985,000                1,063,000
5              of $100,000 and $87,000
6              Inventory                                                                                5,475,000                4,251,000
7              Investment securities                                                                    2,700,000                2,626,000
8              Deferred compensation                                                                      525,000                  321,000
9              Prepaid expenses and other current assets                                                3,273,000                1,079,000
10             Current portion of deferred tax asset                                                            -                   19,000
11                  TOTAL CURRENT ASSETS                                                               14,442,000                9,971,000
12  Property, plant and equipment - net                                                                 9,535,000                8,698,000
13  Trademarks and intangibles - net                                                                    6,508,000                7,138,000
14  Deferred tax asset, net of current portion                                                                  -                   91,000
15  Other assets                                                                                           60,000                   70,000
16                  TOTAL ASSETS                                                                      $30,545,000            $2  5,968,000
17  LIABILITIES AND STOCKHOLDERS' EQUITY
18  CURRENT LIABILITIES:
19             Accounts payable and accrued expenses                                                  $ 2,263,000                $ 940,000
20             Income taxes payable                                                                       899,000                  674,000
21             Dividends payable                                                                                -                   65,000
22             Line of credit                                                                             633,000                  369,000
23             Current maturities of long-term debt                                                       561,000                  458,000
24             Deferred tax liability - current                                                            90,000                        -
25                  TOTAL CURRENT LIABILITIES                                                           4,446,000                2,506,000
26  OTHER LIABILITIES AND DEFERRED CREDITS
27             Long-term debt, net of current portion                                                   3,977,000                4,256,000
28             Deferred tax liability - non-current                                                       101,000                        -
29                  TOTAL LIABILITIES                                                                   8,524,000                6,762,000
30  STOCKHOLDERS' EQUITY:
31  Series B Convertible Preferred Stock; par value $1.00;
32             600,000 shares authorized; 0 and 300,614
33             shares issued and outstanding                                                                    -                  301,000
34  Series C Convertible Preferred Stock; stated value $1.00;
35             1,015,000 shares authorized; 0 and 200,000 shares issued and outstanding                         -                  200,000
36  Common stock; par value $.001 per share; 20,000,000 shares authorized;
37             12,782,791 and 11,001,070 shares issued and outstanding                                     13,000                   11,000
38  Additional paid-in capital                                                                         21,759,000             2  0,556,000
39  Accumulated other comprehensive income (loss)                                                         282,000                  (39,000)
40  Retained earnings (deficit)                                                                         1,149,000             (  1,287,000)
41                                                                                                     23,203,000             1  9,742,000
42  Less: cost of 210,902 and 78,160 shares of common stock in treasury                                (1,075,000)                (536,000)
43  Less:  Unearned compensation                                                                         (107,000)
44  TOTAL STOCKHOLDERS' EQUITY                                                                         22,021,000             1  9,206,000
45  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                        $30,545,000            $2  5,968,000

*** table after parsing ***

                                                                                             account   2005                        2004
0   ASSETS
1   CURRENT ASSETS:
2              Cash                                                                                   1484000                   612000
3              Accounts receivable-net of allowance for doubtful accounts                             985000                    1063000
4              of $100,000 and $87,000
5              Inventory                                                                              5475000                   4251000
6              Investment securities                                                                  2700000                   2626000
7              Deferred compensation                                                                  525000                    321000
8              Prepaid expenses and other current assets                                              3273000                   1079000
9              Current portion of deferred tax asset                                                  -                         19000
10                  TOTAL CURRENT ASSETS                                                              14442000                  9971000
11  Property, plant and equipment - net                                                               9535000                   8698000
12  Trademarks and intangibles - net                                                                  6508000                   7138000
13  Deferred tax asset, net of current portion                                                        -                         91000
14  Other assets                                                                                      60000                     70000
15                  TOTAL ASSETS                                                                      30545000            2     5968000
16  LIABILITIES AND STOCKHOLDERS' EQUITY
17  CURRENT LIABILITIES:
18             Accounts payable and accrued expenses                                                  2263000                   940000
19             Income taxes payable                                                                   899000                    674000
20             Dividends payable                                                                      -                         65000
21             Line of credit                                                                         633000                    369000
22             Current maturities of long-term debt                                                   561000                    458000
23             Deferred tax liability - current                                                       90000                     -
24                  TOTAL CURRENT LIABILITIES                                                         4446000                   2506000
25  OTHER LIABILITIES AND DEFERRED CREDITS
26             Long-term debt, net of current portion                                                 3977000                   4256000
27             Deferred tax liability - non-current                                                   101000                    -
28                  TOTAL LIABILITIES                                                                 8524000                   6762000
29  STOCKHOLDERS' EQUITY:
30  Series B Convertible Preferred Stock; par value $1.00;
31             600,000 shares authorized; 0 and 300,614
32             shares issued and outstanding                                                          -                         301000
33  Series C Convertible Preferred Stock; stated value $1.00;
34             1,015,000 shares authorized; 0 and 200,000 shares issued and outstanding               -                         200000
35  Common stock; par value $.001 per share; 20,000,000 shares authorized;
36             12,782,791 and 11,001,070 shares issued and outstanding                                13000                     11000
37  Additional paid-in capital                                                                        21759000             2    0556000
38  Accumulated other comprehensive income (loss)                                                     282000                    -39000
39  Retained earnings (deficit)                                                                       1149000             -     1287000
40                                                                                                    23203000             1    9742000
41  Less: cost of 210,902 and 78,160 shares of common stock in treasury                               -1075000                  -536000
42  Less:  Unearned compensation                                                                      -107000
43  TOTAL STOCKHOLDERS' EQUITY                                                                        22021000             1    9206000
44  TOTAL LIABILITIES AND STOCKHOLDERS' EQUITY                                                        30545000            2     5968000